<% content_for :title, "Select Shipping Address" %>

<% content_for :content do %>
  <%= form_for @order, method: :patch, data: { live_guarded: true } do |f| %>
    <div class="row form-group">
      <div class="col-xs-5">
        <%= f.label 'Ship to name:', class: "control-label" %>
        <%= f.text_field :ship_to_name, class: "form-control", data: { guard: "required" } %>
      </div>

      <div class="col-xs-7">
        <%= f.label 'Click to insert:', class: "control-label" %>
      </div>

      <div class="col-xs-7">
        <div class="btn-group">
          <% @order.ship_to_names.each do |name| %>
            <%= button_tag name, type: "button", class: "btn btn-default suggested-name" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-5">
        <%= f.label 'Ship to Address:', class: "control-label" %>
        <%= f.text_field :ship_to_address, class: "form-control", data: { guard: "required" } %>
      </div>

      <div class="col-xs-7">
        <%= f.label 'Click to insert:', class: "control-label" %>
      </div>

      <div class="col-xs-7">
        <div class="btn-group">
          <% @order.ship_to_addresses.each do |address| %>
            <%= button_tag address, type: "button", class: "btn btn-default suggested-address" %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render partial: "order_buttons", locals: { order: @order } %>
  <% end %>
<% end %>
