<% content_for :title, "Select Items" %>

<% content_for :content do %>
  <%= javascript_tag do %>
    var data = data || {};
    data.categories = <%= Category.to_json.html_safe %>;
    $(".show-here").text(window.data.categories);
    <%# TODO: cleanup JS, move into orders.coffee %>
    <% if params[:id] %>
      data.order = <%= Order.find(params[:id]).to_json.html_safe %>;
      for (x = 0; x < data.order.order_details.length; x++) {
        addOrderRow();
        setOrderRow(data.order.order_details[x]);
      }
    <% else %>
      $(function(){ addOrderRow(); });
    <% end %>
  <% end %>

  <%= form_for @order, data: { live_guarded: true } do |f| %>
    <%= render partial: "status_buttons", locals: { order: @order } %>

    <div class="form-group">
      <label class="control-label">Choose Organization</label>

      <div>
        <%= f.collection_select :organization_id, current_user.organizations_with_access, :id, :name, { prompt: "Please select ..." }, class: "form-control", data: { guard: "required" } %>
      </div>
    </div>

    <div class="top20 row">
      <div class="col-xs-12">
        <table id="order-table" class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Category</th>
              <th>Item</th>
              <th>Requested</th>
              <th>Available</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%# Dynamically generated %>
          </tbody>
        </table>

        <div class="bottom20">
          <button id="add-item-row" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <%= link_to "Cancel", orders_path, type: "button", class: "btn btn-default" %>
    </div>
  <% end %>
<% end %>
