<% content_for :title, "Select Items" %>

<% content_for :content do %>
  <%= javascript_tag do %>
    var data = data || {};
    data.categories = <%= Category.to_json.html_safe %>;
    $(".show-here").text(window.data.categories);
  <% end %>

  <%= form_for @order, data: { live_guarded: true } do |f| %>
    <%= render partial: "status_buttons", locals: { order: @order } %>

    <div class="form-group">
      <label class="control-label">Choose Organization</label>

      <div>
        <%= f.collection_select :organization_id, current_user.organizations_with_access, :id, :name, { prompt: "Please select ..." }, class: "form-control", data: { guard: "required" } %>
      </div>
    </div>

    <div class="top20 row">
      <div class="col-xs-12">
        <table id="new-order-table" class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity Requested</th>
              <th>Quantity Available</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @order.order_details.each do |details|
              order_detail_name = "order_details["+details.id.to_s+"]" %>
              <tr>
                <td><%= details.item.description %></td>
                <td><%= text_field_tag(order_detail_name, details.quantity) %></td>

                <td class="text-muted">
                  <%= details.item.current_quantity - details.item.requested_quantity %>
                </td>
                <td>
                  <button class="pull-right btn btn-danger btn-xs delete-row">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="bottom20">
          <button id="add-item-row" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <%= link_to "Cancel", orders_path, type: "button", class: "btn btn-default" %>
    </div>
  <% end %>
<% end %>
