<% content_for :title, "Select Items" %>

<% content_for :content do %>
  <%= render partial: "orders/order_row_template" %>

  <%= javascript_tag do %>
    var data = data || {};
    data.itemByIdCache = null;
    data.organizations = <%= current_user.organizations_with_access.includes(:programs).map(&:to_json).to_json.html_safe %>;
    data.categories = <%= Category.to_json.html_safe %>;
    data.order = <%= @order.to_json.html_safe %>;
    loadAvailableQuantities();
    addOrderRows();
  <% end %>

  <%= form_for @order, data: { live_guarded: true } do |f| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label class="control-label">Choose Organization</label>

          <div>
            <%= f.collection_select :organization_id, current_user.organizations_with_access, :id, :name, { prompt: "Please select ..." }, class: "form-control", data: { guard: "required" } %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "editable_order_table" %>
    <%= render partial: "order_buttons", locals: { order: @order } %>
  <% end %>
<% end %>
