<% content_for :title, "Create Account" %>

<% if user_signed_in? %>
  <p>
    Please sign out before completing your invitation.
  </p>
<% elsif @invite.expired? %>
  <p>
    This invitation has expired. Please request a new invitation.
  </p>
<% else %>
  <% content_for :before_content do %>
    <p>
      <em>
        This invitation expires <strong><%= local_time_ago @invite.expires_at %></strong>
      </em>
    </p>
  <% end %>

  <% content_for :content do %>
    <%= form_tag user_invitation_path(@invite), method: :put, data: { live_guarded: true } do %>
      <input name="auth_token" type="hidden" value="<%= @invite.auth_token %>" />

      <fieldset>
        <div class="form-group">
          <label class="control-label" for="user-organization">Organization</label>
          <div>
            <p class="form-control-static" id="user-organization">
              <%= @invite.organization.name %>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="user-email">Email</label>
          <div>
            <p class="form-control-static" id="user-email">
              <%= @invite.email %>
            </p>
            <input name="email" type="hidden" value="<%= @invite.email %>" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="user-name">Name</label>
          <div>
            <input id="user-name" name="name" type="text" class="form-control input-md" data-guard="required" value="<%= @invite.name %>" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="primary-user-phone">Primary Phone</label>
          <div>
            <input id="primary-user-phone" name="primary_number" type="text" class="form-control input-md" data-guard="required phoneUS" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="secondary-user-phone">Secondary Phone</label>
          <div>
            <input id="secondary-user-phone" name="secondary_number" type="text" class="form-control input-md" data-guard="required phoneUS" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="user-address">Address</label>
          <div>
            <input id="user-address" name="address" type="text" class="form-control input-md" data-guard="required" value="<%= @invite.organization.address %>" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="user-password">Password</label>
          <div>
            <input id="user-password" name="password" type="password" class="form-control input-md" data-guard="required same" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="user-password-confirmation">Password Confirmation</label>
          <div>
            <input id="user-password-confirmation" name="password_confirmation" type="password" class="form-control input-md" data-guard="required same" />
          </div>
        </div>
      </fieldset>

      <div>
        <input type="submit" class="btn btn-primary" value="Save" />
      </div>
    <% end %>
  <% end %>
<% end %>
