<tfoot>
  <tr>
    <td>
      <div class="form-group">
        <% if @purchase.open_purchase? %>
          <%= button_tag "Save", type: :submit, class: "btn btn-primary", title: "Save Changes" %>

          <% if @purchase.new_purchase? %>
            <%= button_tag type: "button",
                           class: "btn btn-default add-purchase-detail-row",
                           title: "Add Purchase Row",
                           data: { purchase_id: @purchase.id } do %>
              <span class="glyphicon glyphicon-plus"></span> Add Row
            <% end %>
          <% end %>
        <% end %>
      </div>
    </td>

    <td colspan="2">
    </td>

    <td colspan="2">
      <div class="totals-table">
        <div class="totals-row">
          <div class="totals-label">
            Subtotal:
          </div>
          <div class="totals-data">
            <div class="subtotal">
              <%= @purchase.display_cost %>
            </div>
          </div>
        </div>
        <div class="totals-row">
          <div class="totals-label">
            <%= f.label :tax, "Tax:", class: "control-label" %>
          </div>
          <div class="totals-data">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :tax, value: number_with_precision(@purchase.tax, precision: 2), class: "tax form-control text-right", disabled: !@purchase.pricing_editable? %>
            </div>
          </div>
        </div>
        <div class="totals-row">
          <div class="totals-label">
            <%= f.label :shipping_cost, "Shipping:", class: "control-label" %>
          </div>
          <div class="totals-data">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :shipping_cost, value: number_with_precision(@purchase.shipping_cost, precision: 2), class: "shipping-cost form-control text-right", disabled: !@purchase.pricing_editable? %>
            </div>
          </div>
        </div>
        <div class="totals-row">
          <div class="totals-label">
            Total:
          </div>
          <div class="totals-data">
            <div class="total">
              <%= @purchase.display_total %>
            </div>
          </div>
        </div>

        <% if @purchase.closed? %>
          <div class="totals-row">
            <div class="totals-label">
              Variance:
            </div>
            <div class="totals-data">
              <div class="variance-total">
                <%= @purchase.display_total_ppv %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </td>

    <td colspan="2">
    </td>
  </tr>
</tfoot>
