<% if local_assigns[:auto_export] %>
  <input type="hidden" name="save_and_export_donor" value="true" />
<% end %>

<fieldset id="donor_info">
  <div class="col-xs-12 col-sm-<%= local_assigns[:auto_export] ? 12 : 9 %>">
    <div class="form-group">
      <%= fields.label :name %>
      <%= fields.text_field :name, class: "form-control", data: { guard: "required" } %>
    </div>
  </div>

  <% unless local_assigns[:auto_export] %>
    <div class="col-xs-12 col-sm-3">
      <div class="form-group">
        <%= fields.label :external_id, "External Id" %>
        <%= fields.number_field :external_id, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <%= fields.label :email %>
      <%= fields.text_field :email, class: "form-control", data: { guard: "email" } %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <%= fields.label :primary_number, "Cell Phone" %>
      <%= fields.telephone_field :primary_number, class: "form-control", placeholder: "(408) 555-1234", data: { guard: "phoneUS" } %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <%= fields.label :secondary_number, "Other Phone" %>
      <%= fields.telephone_field :secondary_number, class: "form-control", placeholder: "(408) 555-1234", data: { guard: "phoneUS" } %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <%= fields.label :external_type %>
      <%= fields.select :external_type, options_for_select(external_types_for_select, donor.external_type), { include_blank: true }, { id: "external-type", data: { guard: "required", guard_required_target: "#external-type-error-target" } } %>

      <div id="external-type-error-target"></div>
    </div>
  </div>

  <%= fields.fields_for :addresses, (donor.addresses.build if donor.addresses.empty?) do |address| %>
    <% if address.object.parts_present? || address.object.new_record? %>
      <div class="col-xs-12">
        <h4>Mailing Address</h4>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= address.label :street_address, "Street Address" %>
              <%= address.text_field :street_address, class: "form-control", placeholder: "Example: 123 Street Address", data: { guard: "allOrNone", guard_all_or_none_target: "#address-error" } %>
              <span class="help-block" id="address-error"></span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= address.label :city, "City" %>
              <%= address.text_field :city, class: "form-control", placeholder: "Example: Some City", data: { guard: "allOrNone", guard_all_or_none_target: "#address-error" } %>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <%= address.label :state, "State" %>
              <%= address.text_field :state, class: "form-control", placeholder: "Example: CA", data: { guard: "allOrNone", guard_all_or_none_target: "#address-error" } %>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <%= address.label :zip, "Zip" %>
              <%= address.text_field :zip, class: "form-control", placeholder: "Example: 95123", data: { guard: "allOrNone", guard_all_or_none_target: "#address-error" } %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-xs-9">
        <div class="form-group">
          <%= address.label :address, "Mailing Address" %>
          <%= address.text_field :address, class: "form-control", data: { guard: "different" } %>
        </div>
      </div>
    <% end %>
  <% end %>
</fieldset>
