<fieldset id="donor_info">
  <div class="col-xs-12 col-sm-9">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", data: { guard: "required" } %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <%= f.label :external_id, "External Id" %>
      <%= f.number_field :external_id, class: "form-control", data: { guard: "required" } %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", data: { guard: "email" } %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <%= f.label :primary_number %>
      <%= f.telephone_field :primary_number, class: "form-control", data: { guard: "phoneUS" } %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <%= f.label :secondary_number %>
      <%= f.telephone_field :secondary_number, class: "form-control", data: { guard: "phoneUS" } %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <%= f.label :external_type %>
      <%= f.select :external_type, options_for_select(external_types_for_select, @donor.external_type), {include_blank: true}, { id: "external-type", data: { guard: "required", guard_required_target: "#external-type-error-target" } } %>

      <div id="external-type-error-target"></div>
    </div>
  </div>

  <%= f.fields_for :addresses, (@donor.addresses.build if @donor.addresses.empty?) do |address| %>
    <div class="col-xs-9">
      <div class="form-group">
        <%= address.label :address, "Mailing Address" %>
        <%= address.text_field :address, class: "form-control", data: { guard: "different" } %>
      </div>
    </div>
  <% end %>
</fieldset>
