<% content_for :title, "New Donor" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <div>
    <ul class="nav nav-pills" role="tablist">
      <li id="manual-creation-tab" role="presentation" class="<%= "active" unless showing_tab?("netsuite-import") %>"><a href="#manual-creation" aria-controls="manual-creation" role="tab" data-toggle="pill">Create</a></li>
      <li id="netsuite-import-tab" role="presentation" class="<%= "active" if showing_tab?("netsuite-import") %>"><a href="#netsuite-import" aria-controls="netsuite-import" role="tab" data-toggle="pill">Import From NetSuite</a></li>
    </ul>

    <br />

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane <%= "active" unless showing_tab?("netsuite-import") %>" id="manual-creation">
        <%= form_for @donor, data: { guarded: true } do |f| %>
          <div class="row">
            <%= render partial: "donors/donor_fields", locals: { donor: @donor, fields: f } %>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <%= f.submit "Save", id: "save", class: "btn btn-primary save-donor-without-export" %>
              <%= f.button "Save and Export to NetSuite", id: "save_and_export", class: "btn btn-primary disable-on-external-id-change", type: "submit", name: "save_and_export_donor", value: "true", data: { disable_with: "Save and Export to NetSuite" } %>
              <%= link_to "Cancel", donors_path, class: "btn btn-default" %>
            </div>
          </div>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane <%= "active" if showing_tab?("netsuite-import") %>" id="netsuite-import">
        <%= form_tag netsuite_import_donors_path, data: { live_guarded: true } do %>
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="import_from_external_id">External Id</label>
                <input type="number" class="form-control" id="import_from_external_id" name="external_id" data-guard="required" value="<%= @donor.external_id %>" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <input type="submit" class="btn btn-primary" value="Save" />
              <%= link_to "Cancel", donors_path, class: "btn btn-default" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
