<% content_for :title, "New Donor" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <%= javascript_tag do %>
    initializeExternalTypeSelector();

    function onExternalIdChange() {
      var value = $(this).val();
      $("#save_and_export").prop("disabled", value != "");
    }

    $(document).on("change", "#donor_external_id", onExternalIdChange);
    $(document).on("keyup", "#donor_external_id", onExternalIdChange);

    var externalIdGuard = $.guard("#donor_external_id").using("never").message("This is required when not exporting.")

    $(document).on("click", "#save", function(e) {
      var valid = $(this).parents("form:first").guard();
      var externalId = $("#donor_external_id").val();

      if (!$.guards.isPresent(externalId)) {
        externalIdGuard.triggerError("#donor_external_id");

        if (valid) {
          $("#donor_external_id").focus();
        }

        valid = false;
      }

      if (!valid) {
        e.preventDefault();
      }
    });
  <% end %>

  <div>
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#manual-creation" aria-controls="manual-creation" role="tab" data-toggle="pill">Create</a></li>
      <li role="presentation"><a href="#netsuite-import" aria-controls="netsuite-import" role="tab" data-toggle="pill">Import From NetSuite</a></li>
    </ul>

    <br />

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="manual-creation">
        <%= form_for @donor, data: { live_guarded: true } do |f| %>
          <div class="row">
            <fieldset id="donor_info">
              <div class="col-xs-12 col-sm-9">
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: "form-control", data: { guard: "required" } %>
                </div>
              </div>

              <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                  <%= f.label :external_id, "External Id" %>
                  <%= f.number_field :external_id, class: "form-control" %>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.text_field :email, class: "form-control", data: { guard: "email" } %>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  <%= f.label :phone_number %>
                  <%= f.telephone_field :phone_number, class: "form-control", data: { guard: "phoneUS" } %>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  <%= f.label :external_type %>
                  <%= f.select :external_type, options_for_select(external_types_for_select), { include_blank: true }, { id: "external-type", data: { guard: "required", guard_required_target: "#external-type-error-target" } } %>

                  <div id="external-type-error-target"></div>
                </div>
              </div>

              <%= f.fields_for :addresses, @donor.addresses.build do |address| %>
                <div class="col-xs-9">
                  <div class="form-group">
                    <%= address.label :address, "Mailing Address" %>
                    <%= address.text_field :address, class: "form-control", data: { guard: "different" } %>
                    <span class="help-block">
                      Please use the form:
                      <strong><em>123 Street Address, Some City, CA 95123</em></strong>
                      or the address will not be synced to NetSuite
                    </span>
                  </div>
                </div>
              <% end %>
            </fieldset>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <%= f.submit "Save", id: "save", class: "btn btn-primary" %>
              <%= f.button "Save and Export to NetSuite", id: "save_and_export", class: "btn btn-primary", type: "submit", name: "save_and_export", value: "true", data: { disable_with: "Save and Export to NetSuite" } %>
              <%= link_to "Cancel", donors_path, class: "btn btn-default" %>
            </div>
          </div>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="netsuite-import">
        <%= form_tag netsuite_import_donors_path, data: { live_guarded: true } do %>
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="import_from_external_id">External Id</label>
                <input type="number" class="form-control" id="import_from_external_id" name="external_id" data-guard="required" value="<%= @donor.external_id %>" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <input type="submit" class="btn btn-primary" value="Save" />
              <%= link_to "Cancel", donors_path, class: "btn btn-default" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
