<% content_for :title, "Select Items" %>

<% content_for :content do %>
  <%= render partial: "purchases/purchase_row_template" %>
  <%= render partial: "purchases/purchase_shipment_row_template" %>

  <%= javascript_tag do %>
    var data = data || {};
    data.categories = <%= Category.to_json.html_safe %>;
    data.purchase = <%= @purchase.serialize_data_for_edit.to_json.html_safe %>;
    data.vendors = <%= @vendors.to_json.html_safe %>;
    setVendorInfo();
    addPurchaseRows();
    formatTotalsBlock();
    disableFormWhenClosed();
  <% end %>

  <%= form_for @purchase, html: { data: { live_guarded: true } } do |f| %>
    <div class="row mb-20">
      <div class="col-md-12">
        <div class="h5">
          Purchase Order Status:
          <span class="badge badge-success">
            <%= @purchase.status %>
          </span>
        </div>
      </div>
    </div>
    <div class="row mb-20">
      <div class="col-md-6">
        <div class="form-inline">
          <div class="form-group">
            <label class="control-label">Vendor:</label>
            <%= f.collection_select :vendor_id, @vendors, :id, :name, { prompt: "Please select ..." }, class: "form-control", data: { guard: "required", guard_required_target: "#vendor-select-error-target" } %>
          </div>
          <% if @purchase.open_purchase? %>
            <div class="form-group">
              <%= link_to "New Vendor", new_vendor_path(redirect_to: "new_purchase"), class: "btn btn-primary", id: "new-vendor-button" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-12 has-error" id="vendor-select-error-target"></div>
    </div>

    <div class="vendor-info">
      <div class="row mb-20">
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Website:</label>
            <div class="vendor-website"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Phone:</label>
            <div class="vendor-phone"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Email:</label>
            <div class="vendor-email"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Contact Name:</label>
            <div class="vendor-contact-name"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-20">
      <div class="col-md-3 col-xs-12">
        <%= f.label :po %>
        <%= text_field_tag :po_display_ignored, nil, class: "form-control", disabled: true %>
        <%= f.hidden_field :po %>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="form-group">
          <label for="purchase-date">Purchase Date</label>
          <input
            type="text"
            id="purchase-date"
            name="purchase[purchase_date]"
            class="form-control"
            value="<%= (@purchase.purchase_date || Date.today).strftime("%Y-%m-%d") %>"
            placeholder="Date Purchased"
            data-guard="required" data-provide="datepicker" data-date-format="yyyy-mm-dd"/>
        </div>
      </div>
    </div>

    <%= render partial: "editable_purchase_table", locals: { f: f } %>
    <%= render partial: "purchase_buttons", locals: { purchase: @purchase } %>
  <% end %>
<% end %>
