<% content_for :title, "Count Sheets #{@reconciliation.title}" %>
<% content_for :tabs, render("items/tabs") %>

<% content_for :content do %>
  <% if params[:page].present? %>
    <%= javascript_tag do %>
      $(document).on("page:change", function() {
        var api = new $.fn.dataTable.Api("table");
        api.page(<%= params[:page].to_i %>).draw(false);
      });
    <% end %>
  <% end %>

  <%= render partial: "count_sheets/tabs" %>
  <%= render partial: "inventory_reconciliations/notes" %>

  <table class="table table-hover table-striped data-table autofocus-search">
    <thead>
      <tr>
        <th class="sort-asc">Bin</th>
        <th>Completed?</th>
      </tr>
    </thead>

    <tbody>
      <% @reconciliation.count_sheets.each do |sheet| %>
        <% next if sheet.misfits? %>
        <tr data-click-fn="onCountSheetRowClick" data-path="<%= inventory_reconciliation_count_sheet_path(@reconciliation, sheet) %>">
          <td><%= sheet.bin.label %></td>
          <td>
            <%# The hidden span is so the column can be sorted %>
            <span class="hidden"><%= "not" unless sheet.complete? %> complete</span>
            <% if sheet.complete? %>
              <i class="text-success glyphicon glyphicon-ok"></i>
            <% else %>
              <i class="text-danger glyphicon glyphicon-remove"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row">
    <div class="col-xs-12">
      <%= button_to "Delete Unnecessary Sheets", unnecessary_inventory_reconciliation_count_sheets_path(@reconciliation), method: :delete, class: "btn btn-danger", data: confirm(title: "Delete Count Sheets With No Data") %>
    </div>
  </div>
<% end %>
