<% content_for :title, "Count Sheets #{@reconciliation.title}" %>
<% content_for :tabs, render("items/tabs") %>

<% content_for :content do %>
  <%= render partial: "count_sheets/tabs" %>
  <%= render partial: "inventory_reconciliations/notes" %>

  <table class="table table-hover table-striped data-table autofocus-search">
    <thead>
      <tr>
        <th class="sort-asc">Bin</th>
        <th>Completed?</th>
      </tr>
    </thead>

    <tbody>
      <% @reconciliation.count_sheets.each do |sheet| %>
        <% next if sheet.misfits? %>
        <tr data-href="<%= inventory_reconciliation_count_sheet_path(@reconciliation, sheet) %>">
          <td><%= sheet.bin.label %></td>
          <td>
            <%# The hidden span is so the column can be sorted %>
            <span class="hidden"><%= "not" unless sheet.complete? %> complete</span>
            <% if sheet.complete? %>
              <i class="text-success glyphicon glyphicon-ok"></i>
            <% else %>
              <i class="text-danger glyphicon glyphicon-remove"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
