<% content_for :title, "Count Sheet for #{@sheet.bin.label}" %>
<% content_for :tabs, render("items/tabs") %>

<% content_for :content do %>
  <%= render partial: "inventory_reconciliations/notes" %>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Item</th>

        <% 1.upto @sheet.columns do |i| %>
          <th>
            <input type="text" class="form-control" name="counter_names[]" placeholder="Counter Name" value="<%= @sheet.counter_names[i] %>" />
          </th>
        <% end %>

        <th class="minimal-width">
          <button type="button" class="btn btn-default add-counter-column"><i class="glyphicon glyphicon-plus"></i></button>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @sheet.count_sheet_details.each do |detail| %>
        <tr data-count-sheet-detail-id="<%= detail.id %>">
          <td><%= detail.item.description %></td>

          <% 1.upto @sheet.columns do |i| %>
            <td>
              <input type="text" class="form-control" name="counts[<%= detail.id %>][]" placeholder="Count" value="<%= detail.counts[i] %>" />
            </td>
          <% end %>

          <td class="empty-column"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
