<% content_for :title, title %>

<% content_for :content_size, "col-xs-12 col-sm-8 col-sm-offset-2" %>

<% content_for :content do %>
  <%= form_for @program, data: { live_guarded: true } do |f| %>
    <%= render partial: "common/errors", locals: { record: @program } if @program.errors.any? %>

    <fieldset id="program_info" class="row">
      <div class="form-group col-xs-12">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", data: { guard: "required" } %>
      </div>
    </fieldset>

    <div id="program_form_actions" class="row">
      <div class="col-xs-12 col-sm-9">
        <%= f.submit class: "btn btn-primary", value: "Save" %>
        <%= link_to "Cancel", programs_path, type: "button", class: "btn btn-default" %>
        <%= link_to "Delete", program_path(@program), method: :delete, class: "btn btn-danger pull-right", data: confirm(title: "Deleting Program #{@program.name}") if @program.id.present? %>
      </div>
    </div>
  <% end %>
<% end %>
