<% content_for :title, "Edit #{@user.name}" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <%= form_tag user_path(@user), method: :put, data: { live_guarded: true } do %>
    <% if current_user.can_update_user_details?(@user) %>
      <div>
        <div class="form-group">
          <label for="name">Name</label>
          <div>
            <input id="name" name="user[name]" type="text" value="<%= @user.name %>" class="form-control" data-guard="required" />
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <div>
            <input id="email" name="user[email]" type="text" value="<%= @user.email %>" class="form-control" data-guard="required email" />
          </div>
        </div>

        <div class="form-group">
          <label for="primary-phone-number"><%= t :user_primary_number %></label>
          <div>
            <input id="primary-phone-number" name="user[primary_number]" type="text" value="<%= @user.primary_number %>" class="form-control" data-guard="required phoneUS different" data-guard-different-group="phone" />
          </div>
        </div>

        <div class="form-group">
          <label for="secondary-phone-number"><%= t :user_secondary_number %></label>
          <div>
            <input id="secondary-phone-number" name="user[secondary_number]" type="text" value="<%= @user.secondary_number %>" class="form-control" data-guard="phoneUS different" data-guard-different-group="phone" />
          </div>
        </div>
      </div>
    <% end %>

    <% if current_user.can_update_user_role?(@user) %>
      <% current_user.filter_organizations_with_permission_enabled(@user.organizations, :can_update_user_role_at?).each do |organization| %>
        <div class="form-group">
          <label class="control-label" for="invite-role-<%= organization.id %>">Role at <%= organization.name %></label>
          <div>
            <select id="invite-role-<%= organization.id %>" name="roles[<%= organization.id %>]" class="form-control input-md">
              <option value="">Remove Access</option>
              <option value="none" <%= "selected" if @user.role_at(organization) == "none" %>><%= t "role.organization.none" %></option>
              <option value="admin" <%= "selected" if @user.role_at(organization) == "admin" %>><%= t "role.organization.admin" %></option>
            </select>
          </div>
        </div>
      <% end %>
    <% end %>

    <div>
      <input type="submit" class="btn btn-primary" value="Save" />
      <%= link_to "Cancel", cancel_edit_user_path, class: "btn btn-default" %>

      <% if !@user.deleted? && current_user.can_delete_user? %>
        <%= link_to "Delete", user_path(@user), method: :delete, class: "btn btn-danger pull-right", data: confirm(title: "Deleting User: #{@user.name}") %>
      <% end %>
    </div>
  <% end %>
<% end %>
