<h4>Edit <%= @user.name %></h4>

<div class="well">
  <%= form_tag user_path(@user), method: :put do %>
    <div>
      <div class="form-group">
        <label for="name">Name</label>
        <div>
          <input id="name" name="user[name]" type="text" value="<%= @user.name %>" class="form-control" required="" />
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <div>
          <input id="email" name="user[email]" type="text" value="<%= @user.email %>" class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <label for="phone-number">Phone</label>
        <div>
          <input id="phone-number" name="user[phone_number]" type="text" value="<%= @user.phone_number %>" class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <label for="address">Mailing Address</label>
        <div>
          <input id="address" name="user[address]" type="text" value="<%= @user.address %>" class="form-control" />
        </div>
      </div>
    </div>

    <div>
      <input type="submit" class="btn btn-primary" value="Save" />
      <%= link_to "Cancel", :back, type: "button", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
