<% content_for :title, "Edit #{@user.name}" %>

<% content_for :content do %>
  <%= form_tag user_path(@user), method: :put, data: { live_guarded: true } do %>
    <% if current_user.can_update_user_details?(@user) %>
      <div>
        <div class="form-group">
          <label for="name">Name</label>
          <div>
            <input id="name" name="user[name]" type="text" value="<%= @user.name %>" class="form-control" data-guard="required" />
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <div>
            <input id="email" name="user[email]" type="text" value="<%= @user.email %>" class="form-control" data-guard="required email" />
          </div>
        </div>

        <div class="form-group">
          <label for="primary-phone-number">Primary Phone</label>
          <div>
            <input id="primary-phone-number" name="user[primary_number]" type="text" value="<%= @user.primary_number %>" class="form-control" data-guard="required different" data-guard-different-group="phone" />
          </div>
        </div>

        <div class="form-group">
          <label for="secondary-phone-number">Secondary Phone</label>
          <div>
            <input id="secondary-phone-number" name="user[secondary_number]" type="text" value="<%= @user.secondary_number %>" class="form-control" data-guard="different" data-guard-different-group="phone" />
          </div>
        </div>

        <div class="form-group">
          <label for="address">Mailing Address</label>
          <div>
            <input id="address" name="user[address]" type="text" value="<%= @user.address %>" class="form-control" />
          </div>
        </div>
      </div>
    <% end %>

    <% if current_user.can_update_user_role?(@user) %>
      <% current_user.filter_organizations_with_permission_enabled(@user.organizations, :can_update_user_role_at?).each do |organization| %>
        <div class="form-group">
          <label class="control-label" for="invite-role-<%= organization.id %>">Role at <%= organization.name %></label>
          <div>
            <select id="invite-role-<%= organization.id %>" name="roles[<%= organization.id %>]" class="form-control input-md">
              <option value="none" <%= "selected" if @user.role_at(organization) == "none" %>>Normal</option>
              <option value="admin" <%= "selected" if @user.role_at(organization) == "admin" %>>Admin</option>
            </select>
          </div>
        </div>
      <% end %>
    <% end %>

    <div>
      <input type="submit" class="btn btn-primary" value="Save" />
      <%= link_to "Cancel", :back, type: "button", class: "btn btn-default" %>
    </div>
  <% end %>
<% end %>
