<h4>Users</h4>

<%= form_tag("/users", method: :get) do %>
  <div class="well">
    <table class="table table-hover table-striped data-table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Organization Name</th>
          <th>Organization Role</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr class="user" data-href="<%= edit_user_path(user) %>">
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td><%= user.address %></td>
            <td>
              <% user.organizations.each do |organization| %>
                <span><%= organization.name %></span>
              <% end %>
            </td>
            <td>
              <% user.organizations.each do |organization| %>
                <span><%= user.role_at(organization) %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
