<% content_for :title, "Users" %>

<% content_for :content do %>
  <%= render partial: "users/tabs" %>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover table-manual-striped data-table users-table" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Organization Name</th>
            <th>Organization Role</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% user_organizations = current_user.filter_organizations_with_permission_enabled(user.organizations, :can_update_user_at?).to_a %>

            <tr class="user <%= cycle "odd-row", "even-row" %>" data-href="<%= edit_user_path(user) %>" <%= "data-has-additional-organizations".html_safe if user_organizations.size > 1 %> data-additional-organizations="<%= additional_organizations_json(user, user_organizations) %>">
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone_number %></td>
              <td><%= user.address %></td>

              <td>
                <% user_organizations.each_with_index do |organization, index| %>
                  <% if index == 0 %>
                    <%= organization.name %>
                  <% else %>
                    <span style="display: none;"><%= organization.name %></span>
                  <% end %>
                <% end %>
              </td>

              <td>
                <% user_organizations.each_with_index do |organization, index| %>
                  <% if index == 0 %>
                    <%= user.role_at(organization) %>
                  <% else %>
                    <span style="display: none;"><%= user.role_at(organization) %></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
