<%= render partial: "users/tabs" %>

<% if current_user.can_invite_user? %>
  <div class="modal fade" id="invite-user-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">Invite User</h4>
        </div>

        <%= form_tag user_invitations_path, method: :post, data: { live_guarded: true } do %>
          <div class="modal-body">
            <fieldset>
              <div class="form-group">
                <label class="control-label" for="invite-organization">Organization</label>
                <div>
                  <select id="invite-organization" name="user[organization_id]" class="form-control input-md">
                    <% current_user.organizations_with_with_invite_user_access.each do |organization| %>
                      <option value="<%= organization.id %>"><%= organization.name %></option>
                    <% end %>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="invite-name">Name</label>
                <div>
                  <input id="invite-name" name="user[name]" type="text" class="form-control input-md" data-guard="required" />
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="invite-email">Email</label>
                <div>
                  <input id="invite-email" name="user[email]" type="text" class="form-control input-md" data-guard="required email" />
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="invite-role">Role</label>
                <div>
                  <select id="invite-role" name="user[role]" class="form-control input-md">
                    <option value="none">Normal</option>
                    <option value="admin">Admin</option>
                  </select>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary" value="Invite" />
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= form_tag("/users", method: :get) do %>
  <div class="well">
    <div style="float:right;">
      <select name="status" class="form-control" onchange="this.form.submit()">
        <option value="">Show all users</option>
      </select>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" />
    </div>

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Organization Name</th>
          <th>Organization Role</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr class="user" data-href="<%= edit_user_path(user) %>">
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td><%= user.address %></td>
            <td>
              <% user.organizations.each do |organization| %>
                <p><%= organization.name %></p>
              <% end %>
            </td>
            <td>
              <% user.organizations.each do |organization| %>
                <p><%= user.role_at(organization) %></p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
