<%= form_for county, data: { guarded: true } do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", autocomplete: "off", data: { guard: "required" } %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :allowed_for %>
        <%= f.select :allowed_for, County.allowed_for_select_options, {}, { class: "form-control", autocomplete: "off", data: { guard: "required", guard_required_target: "#allowed-for-error-target" } } %>

        <div id="allowed-for-error-target"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :external_id, "External Id" %>
        <%= f.number_field :external_id, class: "form-control", autocomplete: "off", data: { guard: "required" } %>
      </div>
    </div>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", counties_path, type: "button", class: "btn btn-default" %>
  <button type="button" class="btn btn-default load-netsuite-unassigned-counties">Fetch NetSuite Counties</button>
<% end %>

<br />

<div id="netsuite-unassigned-counties"></div>
