<div class="row">
  <div class="col-xs-12">
    <table id="purchase-table" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Unit Cost</th>
          <th>Line Cost</th>
          <th>Variance</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%# Dynamically generated %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <button id="purchase-add-row" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Row
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-inline pull-right">
    <div class="form-group">
      <%= label :blank, :subtotal, "Subotal:", class: "control-label" %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= text_field :blank, :subtotal, class: "subtotal form-control", readonly: true %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-inline pull-right">
    <div class="form-group">
      <%= f.label :tax, "Tax:", class: "control-label" %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :tax, class: "form-control" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-inline pull-right">
    <div class="form-group">
      <%= f.label :shipping_cost, "Shipping:", class: "control-label" %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :shipping_cost, class: "form-control" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-inline pull-right">
    <div class="form-group">
      <%= label :blank, :total, "Total:", class: "control-label" %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= text_field :blank, :total, class: "total form-control", readonly: true %>
      </div>
    </div>
  </div>
</div>

