<tfoot>
  <tr>
    <td colspan="1">
      <div class="form-group">
        <% if @purchase.new_purchase? %>
          <%= f.button "Save", class: "btn btn-primary", title: "Save Changes" %>
        <% end %>

        <% if @purchase.new_purchase? %>
          <%= button_tag id: "purchase-add-row", class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-plus"></span> Add Row
          <% end %>
        <% end %>
      </div>
    </td>
    <td colspan="5">
      <div class="row">
        <div class="form-inline pull-right mr-15">
          <div class="form-group">
            <%= label :blank, :subtotal, "Subtotal:", class: "control-label" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= text_field :blank, :subtotal, class: "subtotal form-control text-right", readonly: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-inline pull-right mr-15">
          <div class="form-group">
            <%= f.label :tax, "Tax:", class: "control-label" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :tax, value: number_with_precision(@purchase.tax, precision: 2), class: "tax form-control text-right", disabled: !@purchase.new_purchase? %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-inline pull-right mr-15">
          <div class="form-group">
            <%= f.label :shipping_cost, "Shipping:", class: "control-label" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :shipping_cost, value: number_with_precision(@purchase.shipping_cost, precision: 2), class: "shipping-cost form-control text-right", disabled: !@purchase.new_purchase? %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-inline pull-right mr-15">
          <div class="form-group">
            <%= label :blank, :total, "Total:", class: "control-label" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= text_field :blank, :total, class: "total form-control text-right", readonly: true %>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</tfoot>
