<tr class="purchase-detail-row">
  <%= pd_f.hidden_field :_destroy %>
  <td class="purchase-category">
    <div class="form-group">
      <%= select_tag :category,
                     options_for_select(Category.all.pluck(:description, :id), pd&.item&.category&.id),
                     prompt: "Select a category",
                     disabled: !@purchase.open_purchase?,
                     class: "category form-control select2",
                     data: {
                       guard: "required",
                       guard_required_message: "Required",
                       guard_required_target: "#category-selector-error-target-#{pd.id}",
                     } %>

      <div id="category-selector-error-target-<%= pd.id %>"></div>
    </div>
  </td>
  <td class="purchase-item">
    <div class="form-group">
      <%= pd_f.select :item_id,
                      purchase_row_item_options(pd),
                      { prompt: "<=- Select a category" },
                      disabled: !@purchase.open_purchase?,
                      class: "item form-control select2",
                      data: {
                        guard: "required different",
                        guard_required_message: "Required",
                        guard_different_message: "All items must be different.",
                        guard_required_target: "#item-selector-error-target-#{pd.id}",
                        guard_different_target: "#item-selector-error-target-#{pd.id}"
                      } %>

      <div id="item-selector-error-target-<%= pd.id %>"></div>
    </div>
  </td>
  <td class="purchase-quantity">
    <div class="form-group">
      <%= pd_f.text_field :quantity,
                          type: "number", min: 1, placeholder: 0,
                          disabled: !@purchase.open_purchase?,
                          class: "quantity form-control",
                          data: {
                            guard: "required",
                            guard_required_message: "Required"
                          } %>
    </div>
  </td>
    <td class="purchase-cost hide-arrows">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= pd_f.text_field :cost,
                            value: pd.cost.present? ? number_with_precision(pd.cost, precision: 2) : nil,
                            type: "number", min: 0.01, max: 99999, step: 0.01, placeholder: "0.00",
                            disabled: !@purchase.open_purchase?,
                            class: "cost form-control",
                            data: {
                              guard: "required",
                              guard_required_message: "Required"
                            } %>
      </div>
    </div>
  </td>
  <td class="purchase-line-cost hide-arrows">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= text_field_tag :line_cost,
                            pd.cost.present? ? number_with_precision(pd.line_cost, precision: 2) : nil,
                            type: "number", min: 0.01, max: 99999, step: 0.01, placeholder: "0.00",
                            disabled: !@purchase.open_purchase?,
                            class: "line-cost form-control",
                            data: {
                              guard: "required",
                              guard_required_message: "Required"
                            } %>
      </div>
    </div>
  </td>
  <td class="purchase-price-point-variance">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= text_field_tag :price_point_variance,
                            pd.variance.present? ? pd.display_variance : nil,
                            placeholder: 0.00, readonly: true,
                            class: "price-point-variance form-control" %>
      </div>
    </div>
  </td>
  <td class="purchase-action-buttons">
    <div>
      <% if !@purchase.open_purchase? %>
        <%= button_tag title: "Show/Hide shipments", class: "btn btn-primary toggle-shipment-table" do %>
          <span class="glyphicon glyphicon-gift"></span>
        <% end %>
      <% end %>

      <%= link_to '#', class: "btn btn-danger remove-purchase-detail-fields" do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div>
  </td>
</tr>
