<div class="row">
  <div class="col-md-12">
    <div class="h5">
      Purchase Order Status:
      <span class="badge badge-success">
        <%= @purchase.readable_status %>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <%= f.label :vendor_id, class: "control-label" %>
      <%= f.select :vendor_id,
                   options_for_select(vendor_options, @purchase.vendor_id),
                   { include_blank: "Select a vendor..." },
                   { class: "col-xs-12 form-control",
                     disabled: @purchase.vendor_id.present?,
                     data: { guard: "required", guard_required_target: "#vendor-selector-error-target" }
                   } %>

      <div id="vendor-selector-error-target"></div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="form-group">
      <label class="control-label">Website</label>
      <div class="vendor-website">
        <%= @purchase&.vendor&.website %>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <label class="control-label">Phone</label>
      <div class="vendor-phone">
        <%= @purchase&.vendor&.phone_number %>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <label class="control-label">Email</label>
      <div class="vendor-email">
        <%= @purchase&.vendor&.email %>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <label class="control-label">Contact Name</label>
      <div class="vendor-contact-name">
        <%= @purchase&.vendor&.contact_name %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= f.label :vendor_po_number %>
    <%= f.text_field :vendor_po_number, class: "form-control", disabled: @purchase.closed? %>
  </div>
  <div class="col-md-3 col-xs-12">
    <div class="form-group">
      <%= label_tag :purchase_date, "Purchase Date", class: "control-label" %>
      <%= f.text_field :purchase_date, value: (@purchase.purchase_date || Date.today).strftime("%Y-%m-%d"), data: { guard: "required", provide: "datepicker", date_format: "yyyy-mm-dd" }, class: "form-control", disabled: @purchase.closed? %>
    </div>
  </div>
</div>
