<tr class="hidden">
  <td colspan="3"></td>
  <td colspan="4">
    <table class="table purchase-shipments-table" data-shipment-table-for="<%= pd.id %>">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Date Received</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="purchase-shipment-rows">
        <%= pd_f.fields_for :purchase_shipments do |ps_f| %>
          <%= render partial: "purchases/purchase_shipment_fields", locals: { form: ps_f, record: ps_f.object } %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td class="text-left">
            Quantity remaining:
            <span class="displayed-quantity-remaining"><%= pd.quantity_remaining %></span>
          </td>
          <td class="text-right">
            <%= button_tag "Save", type: :submit, class: "btn btn-primary", title: "Save Changes" %>

            <%= button_tag type: "button",
                           class: "btn btn-default add-purchase-shipment-row",
                           title: "Add Purchase Row",
                           data: { purchase_detail_id: pd.id, purchase_detail_index: pd_f.index } do %>
              <span class="glyphicon glyphicon-plus"></span> Add Row
            <% end %>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </td>
</tr>
