<tfoot>
  <tr>
    <td colspan="7">
      <div class="form-group">
        <button id="purchase-add-row" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Row
        </button>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="7">
      <div class="row">
        <div class="form-inline pull-right mr-15">
          <div class="form-group">
            <%= label :blank, :subtotal, "Subtotal:", class: "control-label" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= text_field :blank, :subtotal, class: "subtotal form-control text-right", readonly: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-inline pull-right mr-15">
          <div class="form-group">
            <%= f.label :tax, "Tax:", class: "control-label" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :tax, class: "tax form-control text-right" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-inline pull-right mr-15">
          <div class="form-group">
            <%= f.label :shipping_cost, "Shipping:", class: "control-label" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :shipping_cost, class: "shipping-cost form-control text-right" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-inline pull-right mr-15">
          <div class="form-group">
            <%= label :blank, :total, "Total:", class: "control-label" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= text_field :blank, :total, class: "total form-control text-right", readonly: true %>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</tfoot>
