<% content_for :title, "New Purchase" %>

<% content_for :content do %>
  <%= render partial: "purchases/purchase_row_template" %>
  <%= render partial: "purchases/purchase_shipment_row_template" %>

  <%= javascript_tag do %>
    var data = data || {};
    data.categories = <%= Category.to_json.html_safe %>;
    data.vendors = <%= @vendors.to_json.html_safe %>;
    <!-- setVendorInfo(); -->
    initializeVendors();
  <% end %>

  <%= form_for @purchase, html: { data: { live_guarded: true } } do |f| %>
    <%= render partial: "purchases/purchase_status" %>
    <%= render partial: "purchases/vendor_selection_info", locals: { f: f } %>

    <div class="row mb-20">
      <div class="col-md-3 col-xs-12">
        <%= f.label :vendor_po_number %>
        <%= f.text_field :vendor_po_number, class: "form-control" %>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="form-group">
          <%= label_tag :purchase_date, "Purchase Date", class: "control-label" %>
          <%= text_field_tag :purchase_date, (@purchase.purchase_date || Date.today).strftime("%m/%d/%Y"), data: { guard: "required", provide: "datepicker", date_format: "mm/dd/yyyy" }, class: "form-control" %>
        </div>
      </div>
    </div>

    <%= render partial: "editable_purchase_table", locals: { f: f } %>
    <%= render partial: "purchase_buttons", locals: { purchase: @purchase } %>
  <% end %>
<% end %>
