<p>
  <strong>County:</strong>
  <span id="county"><%= order.try(:organization).try :county %></span>
</p>

<p>
  <strong>Organization:</strong>
  <span id="organization_name"><%= order.try(:organization).try :name %></span>
</p>
<% if local_assigns[:editable] %>
  <p>
    <strong>Name:</strong>
    <span id="user_name"><%= order.try(:user).try :name %></span>
  </p>

  <p>
    <strong>Email:</strong>
    <span id="email"><%= order.try(:user).try :email %></span>
  </p>

  <p>
    <strong>Primary Phone:</strong>
    <span id="primary_number"><%= order.try(:user).try :primary_number %></span>
  </p>

  <p>
    <strong>Secondary Phone:</strong>
    <span id="secondary_number"><%= order.try(:user).try :secondary_number %></span>
  </p>

  <p>
    <strong>Mailing Address:</strong>
    <span id="address"><%= order.try(:organization).try :address %></span>
  </p>

  <p>
    <strong>Received:</strong>
    <span id="date_received"><%= order.try :order_date %></span>
  </p>
<% end %>

<p>
  <strong>Status:</strong>
  <span id="status"><%= order.try :status %></span>
</p>

<% if local_assigns[:editable] %>
  <% if order.shipments.count > 0 %>
    <%= render partial: "shipments/shipping_table", locals: { shipments: order.shipments } %>
  <% end %>

  <div id="add-tracking-info" class="row-fluid bottom15">
    <%= select_tag :shipping_carrier, options_for_select(Shipment::VALID_CARRIERS), include_blank: "Please choose ...", class: "form-control" %>
    <%= text_field_tag :tracking_number, nil, placeholder: "Enter a new tracking number", class: "form-control" %>
  </div>
  <%= link_to "Add Tracking", nil, type: "button", class: "btn btn-default", id: "add-tracking-number" %>
<% end %>
