<div class="table-responsive">
  <table class="table table-striped data-table">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>County</th>
        <th>Organization Name</th>
        <th>Date Received</th>
        <th>Status</th>

        <% if local_assigns[:for_closed] %>
          <th>External Id</th>
        <% end %>

        <th>Tracking Number</th>
      </tr>
    </thead>
    <tbody>
      <% if @orders.present? %>
        <% @orders.each do |order| %>
          <tr class="order" data-order-id="<%= order.id %>" data-href="<%= edit_order_path(order, redirect_to: 'orders') %>">
            <td><%= order.id %></td>
            <td><%= order.organization.county %></td>
            <td><%= order.organization.name %></td>
            <td><%= order.formatted_order_date %></td>
            <td><%= order.status.titleize %></td>

            <% if local_assigns[:for_closed] %>
              <td><%= external_id_or_status(order, link: true) %></td>
            <% end %>

            <td>
              <% if order.tracking_details.present? %>
                <% order.tracking_details.each do |tracking_detail| %>
                  <%= link_to tracking_detail.tracking_number, tracking_detail.tracking_url, target: "_blank" %><br/>
                <% end %>
              <% else %>
                No shipment information
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
