<% content_for :title, "Edit Order #{@order.id}" %>

<% content_for :content do %>
  <%= render partial: "order_header", locals: {order: @order} %>

  <%= form_tag "/orders/#{@order.id}", method: "PATCH" do %>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Items</th>
          <th>Quantity Requested</th>
          <% if @order.pending? || @order.approved? %>
            <th>Quantity Available</th>
          <% else %>
            <th/>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @order.order_details.each do |details| %>
            <tr >
              <td>
                <%= details.item.description %>
              </td>
              <td>
                <% if @order.pending? %>
                  <input type="text" name="order_details[<%= details.id %>]" value="<%= details.quantity %>" />
                <% else %>
                  <%= details.quantity %>
                <% end %>
              </td>
              <% if @order.pending? || @order.approved? %>
                <td class="text-muted">
                  <%= details.item.current_quantity %>
                </td>
              <% else %>
                <td/>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Back", :back, type: "button", class: "btn btn-default" %>
  <% end %>
<% end %>
