<% content_for :title, "Edit Order #{@order.id}" %>

<% content_for :content_size, "col-xs-6" %>

<% content_for :content do %>
  <%= form_tag "/orders/#{@order.id}", method: "PATCH" do %>
    <div class="bottom15">
      <%= render partial: "order_header", locals: { order: @order } %>

      <p>
        <strong>Name:</strong>
        <span id="user_name"><%= @order.user.name %></span>
      </p>

      <p>
        <strong>Email:</strong>
        <span id="email"><%= @order.user.email %></span>
      </p>

      <p>
        <strong>Primary Phone:</strong>
        <span id="primary_number"><%= @order.user.primary_number %></span>
      </p>

      <p>
        <strong>Secondary Phone:</strong>
        <span id="secondary_number"><%= @order.user.secondary_number %></span>
      </p>

      <p>
        <strong>Mailing Address:</strong>
        <span id="address"><%= @order.organization.address %></span>
      </p>

      <p>
        <strong>Received:</strong>
        <span id="date_received"><%= @order.order_date.strftime("%B %d, %Y at %I:%M%p") %></span>
      </p>

      <% if @order.shipments.count > 0 %>
        <%= render partial: "shipments/shipping_table", locals: { shipments: @order.shipments } %>
      <% end %>

      <div id="add-tracking-info" class="row-fluid bottom15">
        <%= select_tag :shipping_carrier, options_for_select(Shipment::VALID_CARRIERS), include_blank: "Please choose ...", class: "form-control" %>
        <%= text_field_tag :tracking_number, nil, placeholder: "Enter a new tracking number", class: "form-control" %>
      </div>

      <%= link_to "Add Tracking", nil, type: "button", class: "btn btn-default", id: "add-tracking-number" %>
    </div>

    <div class="bottom15">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity Requested</th>
          </tr>
        </thead>

        <tbody>
          <% @order.order_details.each do |details| %>
            <tr >
              <td>
                <%= details.item.description %>
              </td>
              <td>
                <input type="text" name="order_details[<%= details.id %>]" value="<%= details.quantity %>" />
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <button class="btn btn-default add-item">Add Item</button>
    </div>


    <button type="submit" class="btn btn-primary">Save Changes</button>
    <%= link_to t('.back', :default => 'Back'), :back %>
  <% end %>

  <div class="modal fade" id="add_inventory_modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Add Inventory Item</h4>
        </div>
        <div class="modal-body">
          <% Category.all.each do |category| %>
            <%= render partial: "items/requested_items_table", locals: {category: category, items: category.items} %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Add Item</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
