<div class="row">
  <div class="col-xs-12">
    <%= render partial: "common/navbar", locals: { active: "orders" } %>
  </div>
</div>

<h4>Orders</h4>

<style type="text/css">
.order {
  cursor: pointer;
}
</style>

<%= form_tag("/orders", method: :get) do %>
  <div class="well">
    <div style="float:right;">
      <select name="status" class="form-control">
        <option value="">Show all statuses</option>
        <% Order::VALID_STATUSES.sort.each do |status| %>
          <option value="<%= status %>"<%= "#{status.to_s == @status ? ' selected="selected"' : ''}" %>><%= status.to_s.titleize %></option>
        <% end %>
      </select>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" />
    </div>

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Order Number</th>
          <th>Date Received</th>
          <th>Organization Name</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr class="order" data-order-id="<%= order.id %>">
            <td><%= order.id %></td>
            <td><%= order.formatted_order_date %></td>
            <td><%= order.organization.name %></td>
            <td><%= order.status.titleize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<!-- Order Details Modal -->
<div class="modal fade" id="order_details_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Order <span id="order_id">140186</span></h4>
      </div>
      <div class="modal-body">
        <%= render partial: "order_header", locals: {order: nil} %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Items</th>
              <th>Quantity Requested</th>
            </tr>
          </thead>
          <tbody id="order-details">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a id="edit_order_button" href="#" type="button" class="btn btn-default">Edit</a>
        <button type="button" class="btn btn-primary">Approve</button>
        <button type="button" class="btn btn-danger">Deny</button>
      </div>
    </div>
  </div>
</div>
