<% content_for :title, "Orders" %>

<% content_for :content do %>
  <div class="row input-row">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= link_to "New Order", new_order_path(), redirect_to: "orders", class: "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-responsive data-table">
      <thead>
        <tr>
          <th>Order Number</th>
          <th>County</th>
          <th>Organization Name</th>
          <th>Date Received</th>
          <th>Status</th>
          <th>Tracking Number</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr class="order" data-order-id="<%= order.id %>" data-href="<%= edit_order_path(order, redirect_to: 'orders') %>">
            <td><%= order.id %></td>
            <td><%= order.organization.county %></td>
            <td><%= order.organization.name %></td>
            <td><%= order.formatted_order_date %></td>
            <td><%= order.status.titleize %></td>
            <td>
              <% if order.shipments.each do |s| %>
                <%= link_to "#{s.tracking_number}", s.tracking_url, { target: "_blank" } %><br/>
              <% end.empty? %>
                No shipment information
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
