<% content_for :title, "Orders" %>

<% content_for :content do %>
  <div class="row input-row">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= link_to 'New Order', {controller: "orders", action: "new"}, class: 'btn btn-primary pull-right' %>
      </div>
    </div>
  </div>

  <table class="table table-hover table-striped data-table">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>County</th>
        <th>Organization Name</th>
        <th>Date Received</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr class="order <%= "danger" if order.order_details.empty? %>" data-order-id="<%= order.id %>" data-click-fn="orderRowClicked">
          <td><%= order.id %></td>
          <td><%= order.organization.county %></td>
          <td><%= order.organization.name %></td>
          <td><%= order.formatted_order_date %></td>
          <td><%= order.status.titleize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render partial: "details_modal" %>
<% end %>
