<% content_for :title, "New Order" %>

<% content_for :content do %>
  <%= javascript_tag do %>
    var data = data || {};
    data.categories = <%= Category.to_json.html_safe %>;
    $(".show-here").text(window.data.categories);
  <% end %>

  <%= form_for @order, data: { live_guarded: true } do |f| %>

    <div class="form-group">
      <% if @organizations.length > 1 %>
        <%= f.label 'Choose Organization' %>
        <div>
          <%= f.collection_select :organization_id, @organizations, :id, :name, { prompt: "Please select ..." }, class: "form-control", data: { guard: "required" } %>
        </div>
      <% else %>
        <%= f.label 'For Organization', class: 'control-label' %>
        <div>
          <p class="form-control-static"><%= @organizations[0].name %></p>
          <%= f.hidden_field :organization_id, value: @organizations[0].id %>
        </div>
      <% end %>
    </div>
    <table id="new-order-table" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Item</th>
          <th>Quantity</th>
        </tr>
      </thead>

      <tbody>
        <%# will be populated dynamically from orders.coffee %>
      </tbody>
    </table>
    <div>
      <button id="add-item-row" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item
      </button>
      <button id="save-order" type="submit" class="btn btn-primary btn-sm">
        Create Order
      </button>
    </div>
  <% end %>
<% end %>
