<% content_for :title, "Survey Request Report" %>

<% content_for :content do %>
  <%= render partial: "survey_requests/tabs" %>

  <table class="table table-striped table-responsive data-table">
    <thead>
      <% @data.columns.each do |col| %>
        <th class="<%= col.css_class %>"><%= col.label %></th>
      <% end %>
    </thead>

    <tbody>
      <% @data.each do |row| %>
        <tr class="<%= row.status_class %>">
          <% row.each do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
