<div class="form-group">
  <label for="donor-selector">Donor:</label>
  <select id="donor-selector" name="selected_donor" data-guard="required" data-guard-required-target="#donor-selector-error-target">
    <option value="">Select a donor...</option>
    <option value="new">New donor</option>

    <% Donor.active.order('LOWER(name)').each do |donor| %>
      <option value="<%= donor.id %>"
              data-name="<%= donor.name %>"
              data-external-id="<%= donor.external_id %>"
              data-email="<%= donor.email %>"
              data-primary-phone="<%= donor.primary_number %>"
              data-secondary-phone="<%= donor.secondary_number %>"
              data-external-type="<%= donor.external_type %>"
              data-address="<%= donor.primary_address %>"
              data-search-text="<%= donor.name %> - <%= donor.external_id %> - <%= donor.primary_address %> - <%= donor.email %>">
        <%= donor.name %>
      </option>
    <% end %>
  </select>

  <div id="donor-selector-error-target"></div>
</div>
