<%# Printed Document Only %>
<div class="col-xs-6">
  <img width="250px" class="img-responsive" src="<%= path_to_image("header-logo.png") %>" />
  <p>
    <%= Rails.application.config.contact_street_address_line %><br/>
    <%= Rails.application.config.contact_city_line %><br/>
    Phone: <%= Rails.application.config.contact_phone %><br/>
    Website: <%= Rails.application.config.external_site %>
  </p>
</div>

<div class="col-xs-6 text-right">
  <h2>IN-KIND<br/>DONATION RECEIPT</h2>
  <p>Date: <%= donation.formatted_donation_date %></p>
</div>

<div class="col-xs-12">
  <p class="small">
    The Grateful Garment Project thanks you for your in-kind donation of new unused items (listed below). Your donation will help us return dignity to victims of sexual violence and provide the most humane care possible. We confirm that no goods or services were provided in exchange for this donation. The Grateful Garment Project is a 501(c)(3) not-for-profit organization. Our Tax ID Number is #80-0725390. In accordance with Internal Revenue Code 6115, we hereby state that your donation is tax deductible.
  </p>
</div>

<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Donor Name</th>
        <th>Donor Address</th>
        <th>Donor Email</th>
        <th>Total Item Count</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= donation.donor.name %></td>
        <td><%= donation.donor.primary_address %></td>
        <td><%= donation.donor.email %></td>
        <td><%= donation.item_count %></td>
      </tr>
    </tbody>
  </table>
</div>
