<table class="table table-striped table-responsive data-table">
  <thead>
    <tr>
      <th class="col-xs-1">ID</th>
      <th class="col-xs-2">Donor</th>
      <th class="col-xs-2">Items</th>
      <th class="col-xs-2">Value</th>

      <% if local_assigns[:for_closed] %>
        <th class="col-xs-1">External Id</th>
      <% end %>

      <th class="col-xs-1">Date Received</th>

      <% if local_assigns[:for_deleted] %>
        <th class="col-xs-2">Actions</th>
      <% else %>
        <th>Notes</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr <%= "data-href=\"#{sanitize donation_path(donation)}\"".html_safe unless local_assigns[:for_deleted] %>>
        <td><%= donation.id %></td>
        <td><%= truncate donation.donor.name, length: 50 %></td>
        <td><%= donation.item_count %></td>
        <td><%= number_to_currency(donation.value, unit: "$", precision: 2) %></td>

        <% if local_assigns[:for_closed] %>
          <td><%= external_id_or_status(donation, link: true) %></td>
        <% end %>

        <td><%= donation.formatted_donation_date %></td>

        <% if local_assigns[:for_deleted] %>
          <td class="col-xs-1">
            <%= link_to "", restore_donation_path(donation), method: :patch, class: 'btn btn-success btn-xs glyphicon glyphicon-plus' %>
          </td>
        <% else %>
          <td><%= truncate donation.notes, length: 50 %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
