<% content_for :title, "Add to Donation #{@donation.id}" %>

<% content_for :content do %>
  <%= render partial: "donations/donation_row_template" %>
  <%= render partial: "items/item_selector_template" %>

  <input type="hidden" id="data-categories" data-value="<%= Category.to_json %>" />

  <%= form_for @donation, method: :patch, data: { live_guarded: true } do |f| %>
    <%= render partial: "donation_header", locals: { f: f, donation: @donation } %>

    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "donation_table", locals: { donation: @donation } %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "empty_donation_table" %>
      </div>
    </div>

    <%= render partial: "add_and_save_buttons", locals: { f: f, donation: @donation } %>
  <% end %>
<% end %>
