<% content_for :title, "Donations" %>

<% content_for :content do %>
  <div class="row bottom20">
    <div class="col-xs-12">
      <span class="pull-right">
        <%= link_to "Export Donor CSV", export_donors_reports_path, class: "btn btn-primary" %>

        <% if current_user.can_create_donations? %>
          <%= link_to "Migrate Donations", migrate_donations_path, class: "btn btn-primary" if DonationMigrator.any? %>
          <%= link_to "New Donation", new_donation_path, class: "btn btn-primary" %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-responsive data-table">
        <thead>
          <tr>
            <th></th>
            <th>Donor</th>
            <th>Items</th>
            <th>Value</th>
            <th>Date Received</th>
            <th>Notes</th>
          </tr>
        </thead>

        <tbody>
          <% @donations.each do |donation| %>
            <tr class="donation" data-donation-id="<%= donation.id %>" data-href="<%= donation_path(donation) %>">
              <td><%= donation.id %></td>
              <td><%= truncate donation.donor.name, length: 50 %></td>
              <td><%= donation.item_count %></td>
              <td><%= number_to_currency(donation.value, unit: "$", precision: 2) %></td>
              <td><%= donation.formatted_donation_date %></td>
              <td><%= truncate donation.notes, length: 50 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
