<% content_for :title, "Add Donation" %>

<% content_for :content do %>
  <%= render partial: "donations/donation_row_template" %>
  <%= render partial: "donations/existing_donor_template" %>
  <%= render partial: "donations/new_donor_template" %>
  <%= render partial: "items/item_selector_template" %>

  <%= javascript_tag do %>
    var data = data || {};
    data.categories = <%= Category.to_json.html_safe %>;

    $.tableEditable("donation-table").initialize(1);
    initializeDonors();
  <% end %>

  <%= form_for @donation, data: { guarded: true } do |f| %>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= render partial: "donor_selector" %>
      </div>
    </div>

    <div class="row">
      <div id="existing-donor-fields" style="display: none;"></div>
      <div id="new-donor-fields" style="display: none;"></div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="form-group">
          <%= f.label :date, "Donation Date:" %>
          <%= f.text_field :date, class: "form-control", value: Date.today.strftime("%Y-%m-%d"), placeholder: "Donated Date", data: { guard: "required", provide: "datepicker", date_format: "yyyy-mm-dd" } %>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form-group">
          <label>Revenue Streams</label>
          <%= f.select :revenue_stream_ids,
                       revenue_stream_select_options(RevenueStream.default_selected_for_donations),
                       {},
                       { multiple: true, class: "select2 form-control", data: { guard: "required" } } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "empty_donation_table" %>
      </div>
    </div>

    <%= render partial: "add_and_save_buttons", locals: { f: f, donation: @donation } %>
  <% end %>
<% end %>
