<% content_for :title, "Donation #{@donation.id}" %>

<% content_for :content do %>

  <div class="hidden-print">
    <%= render partial: "donation_header", locals: { donation: @donation } %>
  </div>

  <div class="visible-print-block">
    <%# Printed Document Only %>
    <%= render partial: "print_donation_header", locals: { donation: @donation } %>
  </div>

  <%= render partial: "donation_table", locals: { donation: @donation } %>

  <div class="visible-print-block">
    <%# Printed Document Only %>
    <% if @donation.notes.present? %>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <strong>Notes:</strong>
          <p><%= @donation.notes %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="hidden-print">
    <div class="row">
      <div class="col-xs-12">
        <% if @donation.closed? %>
          <% if current_user.can_sync_donation?(@donation) %>
            <%= sync_donation_button(@donation) %>
          <% end %>
        <% else %>
          <% if current_user.can_create_donations? %>
            <%= link_to "Edit", edit_donation_path(@donation), class: "btn btn-primary" %>
          <% end %>

          <% if current_user.can_close_donations? %>
            <%= close_donation_button(@donation) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
