<p>
  <%= @current_user.name %>,
</p>

<p>
  You have successfully sent a survey notification with the following details:
</p>

<p>
  <strong>Organizations (<%= @mail_attempts.size %>):</strong>

  <ul>
    <% @mail_attempts.each do |attempt| %>
      <% if attempt.success %>
        <li>Success: <%= attempt.org_request.organization.name %> - <%= attempt.org_request.organization.email %></li>
      <% else %>
        <li style="color: #FF0000;">FAILURE: <%= attempt.org_request.organization.name %> - <%= attempt.org_request.organization.email %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<p>
  <strong>Survey:</strong>
  <%= @survey_request.title %> - <%= link_to survey_request_url(@survey_request), survey_request_url(@survey_request) %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @subject %>
</p>

<p>
  <strong>Body:</strong>
  <pre><%= @body %></pre>
</p>
