<%= form_for @vendor, data: { live_guarded: true } do |f| %>
  <fieldset id="vendor_info">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", data: { guard: "required" } %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :website %>
          <%= f.text_field :website, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.telephone_field :phone_number, class: "form-control", data: { guard: "phoneUS" } %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control", data: { guard: "email" } %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :contact_name %>
          <%= f.text_field :contact_name, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <%= f.fields_for :addresses, (@vendor.addresses.build if @vendor.addresses.empty?) do |address| %>
        <div class="col-xs-6">
          <div class="form-group">
            <%= address.label :address, "Mailing Address" %>
            <%= address.text_field :address, class: "form-control", data: { guard: "different" } %>
          </div>
        </div>
      <% end %>
    </div>
  </fieldset>

  <%#= link_to "Save", save_vendor_path, type: "button", class: "btn btn-default" %>

  <%= f.submit "Save", class: "btn btn-primary" %>

  <% if @vendor.id.nil? %>
    <%= link_to "Cancel", cancel_new_vendor_path, type: "button", class: "btn btn-default" %>
  <% else %>
    <%= link_to "Cancel", cancel_edit_vendor_path, type: "button", class: "btn btn-default" %>
    <%= link_to "Delete", vendor_path(@vendor), method: :delete, class: "btn btn-danger pull-right", data: confirm(title: "Deleting Vendor: #{@vendor.name}") %>
  <% end %>
<% end %>
