
<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
  <h2>Sign into your account</h2>
    <div class="panel panel-default login_box">
<!--       <div class="panel-heading">
        <h4><%= t('.sign_in', :default => "Sign in") %></h4>
      </div> -->
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, style: "padding-left: 0px;" %>
              </label>
            </div>
            <% end %>
          <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
    <div class="small text-right pull-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

