<%# If changed update _reject_modal.html.erb and order_denied.text.erb %>
<%= render "common/default_email_template_header" %>

<p>
  <%= order.user.name %>,
</p>

<p>
  You order, #<%= @order.id %>, has been declined for the following reason:
</p>

<p>
  <%= @reason %>
</p>

<p>
  Please complete the required actions and resubmit your order.
</p>

<%= render "common/default_email_template_footer" %>
