<%= render partial: "surveys/field_templates/field" %>

<% SurveyDef::Definition::FIELDS.each do |field| %>
  <%= render partial: "surveys/field_templates/editing/#{field.type}" %>
<% end %>

<%= javascript_tag do %>
  $(function() {
    initializeSurveys(<%= SurveyDef::Definition.to_h.to_json.html_safe %>, <%= revision.definition.to_json.html_safe %>);
  });
<% end %>

<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label class="control-label" for="survey-title">Survey Title</label>
      <input type="text" class="form-control" id="survey-title" name="survey_title" placeholder="Title for the survey" value="<%= survey.title %>" data-guard="required" autocomplete="off" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label class="control-label" for="revision-title">Revision Title</label>
      <input type="text" class="form-control" id="revision-title" name="revision_title" placeholder="Title for the survey" value="<%= revision.title %>" data-guard="required" autocomplete="off" />
    </div>
  </div>

  <div class="col-xs-6">
    <div class="checkbox">
      <label class="active-survey-checkbox">
        <input type="checkbox" name="active" value="true" <%= "checked" if revision.active %> />
        Active
        <% if params[:action] != "new" %>
          (other revisions will be marked inactive)
        <% end %>
      </label>
    </div>
  </div>
</div>

<div id="survey-fields">
</div>

<p>
  <button id="add-survey-field" type="button" class="btn btn-primary">Add Field</button>
</p>
