<input type="hidden" name="survey_answers[<%= survey.id %>][revision]" value="<%= revision.id %>" />

<div id="survey-answer-fields-<%= survey.id %>">
</div>

<% unless @_rendered_survey_answer_field_templates %>
  <% @_rendered_survey_answer_field_templates = true %>

  <% SurveyDef::Definition::FIELDS.each do |field| %>
    <%= render partial: "surveys/field_templates/answering/#{field.type}" %>
  <% end %>
<% end %>

<input type="hidden" id="data-survey-answers-field-container-id" data-value="survey-answer-fields-<%= survey.id %>" />
<input type="hidden" id="data-survey-answers-scope" data-value="survey_answers[<%= survey.id %>]" />
<input type="hidden" id="data-survey-answers-survey-data" data-value="<%= revision.to_definition.to_answers_json %>" />
<input type="hidden" id="data-survey-answers-answer-data" data-value="<%= answers.to_json %>" />
