<% content_for :title, "Demo Survey" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <h3><%= @survey.title %> <small><em><%= @revision.title %></em></small></h3>
  <%= render partial: "surveys/survey_answers", locals: { survey: @survey, revision: @revision, answers: @answers } %>
  <%= link_to "Demo Again", demo_survey_path(@survey, revision_id: @revision.id), class: "btn btn-default" %>
  <%= link_to "Done", survey_path(@survey, revision_id: @revision.id), class: "btn btn-default" %>
<% end %>
