<% content_for :title, "Revenue Streams" %>

<% content_for :content do %>
  <%= render partial: "revenue_streams/tabs" %>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-responsive data-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Donation Count</th>
            <th>Purchase Count</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @revenue_streams.each do |revenue_stream| %>
            <tr class="revenue_stream" data-revenue_stream-id="<%= revenue_stream.id %>" data-href="<%= revenue_stream_path(revenue_stream) %>">
              <td title="<%= revenue_stream.name %>">
                <%= revenue_stream.name %>
              </td>
              <td>
                <%= revenue_stream.donations&.count || 0 %>
              </td>
              <td>
                <%= revenue_stream.purchases&.count || 0 %>
              </td>
              <td class="col-xs-1">
                <%= link_to "", revenue_stream_path(revenue_stream), method: :delete,
                    class: 'btn btn-danger btn-xs glyphicon glyphicon-trash',
                    data: confirm(title: "Deleting Revenue Stream: #{revenue_stream.name}") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
