<% content_for :title, "Edit #{@revenue_stream.name}" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <%= form_for @revenue_stream, data: { guarded: true } do |f| %>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", data: { guard: "required" } %>
      </div>
    </div>

    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", revenue_streams_path, type: "button", class: "btn btn-default" %>
    <%= link_to "Delete", revenue_stream_path(id: @revenue_stream.id),
                method: :delete,
                class: "btn btn-danger pull-right",
                data: confirm(title: "Deleting Revenue Stream: #{@revenue_stream.name}")  %>
  <% end %>
<% end %>
