<h4>
  <%= category.description %>
  <%= link_to '', edit_category_path(category), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil' %>

  <a href="<%= new_item_path(category_id: category.id) %>" type="button" class="btn btn-primary pull-right" data-category="<%= category.id %>" data-category-desc="<%= category.description %>" data-category-sizes="<%= category.sizes.join(',') %>">
    Create Item
  </a>
</h4>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="col-xs-6">Description</th>
      <% if category.sizes.present? %>
        <th class="text-center">Size</th>
      <% end %>
      <th class="text-center">Quantity In Stock</th>
      <th class="text-center">Quantity Requested</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <td class="col-xs-6"><%= item.description %></td>
        <% if category.sizes.present? %>
          <td class="text-center"><%= item.size %></td>
        <% end %>
        <td class="text-center"><%= item.current_quantity %></td>
        <td class="text-center"><%= item.requested_quantity %></td>
        <td class="text-right">
          <%= link_to '', edit_item_path(item.id), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
