<h4>
  <%= category.description %>
  <%= link_to '', edit_category_path(category), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil' %>

  <button type="button" class="btn btn-primary pull-right" data-create-item data-category="<%= category.id %>" data-category-desc="<%= category.description %>">
    Create Item
  </button>
</h4>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Quantity In Stock</th>
      <th>Quantity Requested</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= item.description %></td>
        <td><%= item.current_quantity %></td>
        <td><%= item.requested_quantity %></td>
        <td>
        <%= link_to '', edit_item_path(item.id), class: 'btn btn-default btn-block-xs glyphicon glyphicon-pencil' %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
