<h4><%= category.description %></h4>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th style="width: 50%">Description</th>
      <th class="text-center">In Stock</th>
      <th class="text-center">Requested</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% items.each do |item| %>
    <tr>
      <td><%= item.description %></td>
      <td class="text-center"><%= item.current_quantity %></td>
      <td class="text-center"><%= item.requested_quantity %></td>
      <td class="text-right">
        <%= link_to '', edit_item_path(item.id), class: 'btn btn-default btn-block-xs glyphicon glyphicon-pencil' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
