<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-pills">
      <%= tab("Inventory", items_path, %w(items categories).include?(params[:controller])) %>

      <% if current_user.can_view_and_edit_items? %>
        <%= tab("Reconciliations", inventory_reconciliations_path, %w(inventory_reconciliations count_sheets).include?(params[:controller])) %>
      <% end %>

      <% if current_user.can_view_bins? %>
        <%= tab("Bins", bins_path, params[:controller] == "bins") %>
      <% end %>

      <% if current_user.can_view_bins? %>
        <%= tab("Racks", bin_locations_path, params[:controller] == "bin_locations") %>
      <% end %>

      <% if current_user.can_view_programs? %>
        <%= tab("Programs", programs_path, params[:controller] == "programs") %>
      <% end %>

      <% if current_user.can_view_item_program_ratios? %>
        <%= tab("Program Ratios", item_program_ratios_path, params[:controller] == "item_program_ratios") %>
      <% end %>
    </ul>
  </div>
</div>
