<% content_for :title, "Inventory" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :sidebar do %>
  <%= render "common/category_nav" %>
<% end %>

<% content_for :content do %>
  <h4>
    Edit Item Stock
    <%= link_to '', edit_item_path(@item), class: 'pull-right btn btn-default btn-xs glyphicon glyphicon-pencil', title: 'Edit Item' %>
  </h4>
  <%= form_for @item, data: { live_guarded: true } do |f| %>
    <div class="form-group">
      <%= f.label 'Description:', class: "control-label" %>
      <p class="form-control-static"><%= @item.description %></p>
    </div>
    <div class="form-group">
      <%= f.label 'Current Quantity In Stock:', class: "control-label" %>
      <p class="form-control-static"><%= @item.current_quantity %></p>
    </div>
    <div class="form-group">
      <%= f.label "Modify method:" %><br>
      <% Item.edit_methods.each do |label, index| %>
        <label class="radio-inline">
          <input type="radio" name="item[edit_method]" value="<%= label %>" data-guard="required" data-guard-required-target="#edit-method-error"> <%= label.to_s.humanize %>
        </label>
      <% end %>
      <span id="edit-method-error"></span>
    </div>
    <div class="form-group">
      <%= f.label 'Amount:' %>
      <%= f.text_field :edit_amount, class: "form-control", placeholder: "Enter the number", data: { guard: "required int", guard_int_min: 0 } %> 
    </div>
    <div class="form-group">
      <%= f.label 'Reason for changing quantity in stock:' %><br>
      <% Item.edit_reasons.each do |reason, index| %>
        <label class="radio-inline">
          <input type="radio" name="item[edit_reason]" value="<%= reason %>" data-guard="required" data-guard-required-target="#edit-reason-error"> <%= reason.to_s.humanize %>
        </label>
      <% end %>
      <span id="edit-reason-error"></span>
    </div>
    <div class="form-group">
      <%= f.label 'Reason Details:' %>
      <%= f.text_field :edit_source, class: "form-control", placeholder: "Explain" %>
    </div>

    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", items_path(category_id: @item.category_id), type: "button", class: "btn btn-default" %>
  <% end %>
<% end %>

<% if @item.versions.present? %>
  <% content_for :content_2 do %>
    <h4>Item History</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        <% @item.quantity_versions.each do |version| %>
          <tr>
            <td><%= local_time(version.created_at, "%b-%d-%Y %l:%M%P") %></td>
            <td><%= user_name(version.whodunnit) %></td>
            <td><%= version_details(version) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
