<h4>Inventory</h4>

<div class="row">
  <div class="col-md-2 col-sm-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
    <div class="well">
      <%= render "common/category_nav" %>
    </div>
  </div>

  <div class="col-md-10 ">
    <div class="well">
      <h4><%= controller.action_name.humanize %> Item</h4>
      <%= form_for @item do |f| %>
        <div class="form-group">
          <%= f.label 'Category:' %>
          <%= f.collection_select(:category_id, Category.all, :id, :description, { include_blank: "Please choose ..." }, { class: "form-control" }) %>
        </div>
        <div class="form-group">
          <%= f.label 'Description:' %>
          <%= f.text_field :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label 'Quantity In Stock:', class: "control-label" %>
          <p class="form-control-static"><%= @item.current_quantity %></p>
        </div>
        <div class="well">
          <h4>Modify Quantity on Hand</h4>
          <div class="form-group">
            <%= f.label "Modify method:" %><br>
            <% Item.edit_methods.each do |label, index| %>
              <label class="radio-inline">
                <input type="radio" name="item[edit_method]" value="<%= label %>"> <%= label.to_s.humanize %>
              </label>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label 'Amount:' %>
            <%= f.text_field :edit_amount, class: "form-control", placeholder: "100" %>
          </div>
          <div class="form-group">
            <%= f.label 'Reason for changing quantity in stock:' %><br>
            <% Item.edit_reasons.each do |reason, index| %>
              <label class="radio-inline">
                <input type="radio" name="item[edit_reason]" value="<%= reason %>"> <%= reason.to_s.humanize %>
              </label>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label 'Reason Details:' %>
            <%= f.text_field :edit_source, class: "form-control", placeholder: "Explain" %>
          </div>
        </div>
        <%= f.submit "Save", class: "btn btn-primary" %>
        <%= link_to "Cancel", :back, type: "button", class: "btn btn-default" %>
        <%=
          link_to_if @item.persisted?, "Delete", { action: :destroy, id: @item.id, method: :delete }, { data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" } do
            ""
          end
        %>
      <% end %>
    </div>
    <% if @item.versions.present? %>
      <div class="well">
        <h4>Item History</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>User</th>
              <th>Event</th>
            </tr>
          </thead>
          <tbody>
            <% @item.versions.each do |version| %>
              <tr>
                <td><%= version.created_at.strftime("%b-%d-%Y %l:%M%P") %></td>
                <td><%= version.whodunnit %></td>
                <td><%= version.event %></td>
              </tr>
              <tr>
                <td colspan="3" class="text-muted">
                  <%= version.changeset %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
