<% content_for :title, "Inventory" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :sidebar do %>
  <%= render "common/category_nav" %>
<% end %>

<% content_for :content do %>
  <h4>
    <%= controller.action_name.humanize %> Item
    <%= link_to '', edit_stock_item_path(@item), class: 'pull-right btn btn-default btn-xs glyphicon glyphicon-th-list', title: 'Edit Item Stock' if @item.persisted? %>
  </h4>

  <%= form_for @item, data: { live_guarded: true } do |f| %>
    <div class="form-group">
      <%= f.label :category, 'Category:' %>
      <%= f.collection_select(:category_id, Category.all, :id, :description, { include_blank: "Please choose ..." }, { class: "form-control" }) %>
    </div>

    <div class="form-group">
      <%= f.label :description, 'Description:' %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <%= f.label :sku, 'SKU:' %>
          <%= f.text_field :sku, class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="form-group">
          <%= f.label :price, 'Price:' %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :price, value: number_to_currency(@item.price, unit: "", precision: 2), class: "form-control", data: { guard: "moneynodollar", guard_moneynodollar_min: "0.01" } %>
          </div>
        </div>
      </div>

      <% if @item.persisted? %>
        <div class="col-xs-4">
          <div class="form-group">
            <%= f.label 'Quantity In Stock:', class: "control-label" %>
            <p class="form-control-static"><%= @item.current_quantity %></p>
          </div>
        </div>
      <% else %>
        <div class="col-xs-4">
          <div class="form-group">
            <%= f.label :current_quantity, 'Quantity in Stock:', class: "control-label" %>
            <%= f.text_field :current_quantity, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>

    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", items_path(category_id: @item.category.id), type: "button", class: "btn btn-default" %>
    <%= link_to "Delete", @item, method: :delete, class: "btn btn-danger pull-right", data: confirm(title: "Deleting Item: #{@item.description}") if @item.persisted? %>
  <% end %>
<% end %>
