<h2>Inventory</h2>

<%= render "common/tabs", active: 'inventory' %>

<div class="row">
  <div class="col-md-2 col-sm-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
    <%= render "common/category_nav" %>
  </div>

  <h4>Edit Item</h4>
  <div class="col-md-10 well">
    <%= form_for @item do |f| %>
      <div class="form-group">
        <%= f.label 'Description:' %>
        <%= f.text_field :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Quantity In Stock:' %>
        <%= f.text_field :current_quantity, class: "form-control" %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to "Cancel", :back, type: "button", class: "btn btn-default" %>
      <%= link_to "Delete", { action: :destroy, id: @item.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-2 well">
    <h4>Item History</h4>
    <!--
    We want to track:
    * quantity change: 20 -> 25
    * the reason for the change: donation, correction, purchase
    * when the change occured: date
    * and whodunit: user
    -->
    <% @item.versions.each do |version| %>
      <p><%= version.created_at %> - <%= version.event %> - <%= version.changeset %> - <%= version.whodunnit %></p>
    <% end %>
  </div>
</div>
