<% content_for :title, "Inventory" %>

<% content_for :sidebar do %>
  <%= render "common/category_nav" %>
<% end %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <% if @items.empty? && @category %>
    <h4 class="button-height">
      <%= @category.description %>
      <% if current_user.can_view_and_edit_items? %>
        <%= link_to '', edit_category_path(@category), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil' %>
        <%= link_to "Create Item", new_item_path(category_id: @category.id), class: "btn btn-primary pull-right" %>
      <% end %>
    </h4>
    <hr />
    <p class="text-danger">
      There are no items in this category. To add an item, hit the "Create Item" button. If you want to delete this category, click the pencil button.
    </p>
  <% elsif @items.empty? %>
    Inventory is empty. Please select a category on the left and add an item.
  <% else %>
    <h4 class="button-height">
      <% if @category.present? %>
        <%= @category.description %>
      <% else %>
        All Items
      <% end %>

      <% if current_user.can_view_and_edit_items? %>
        <%= link_to "Create Item", new_item_with_category_path, class: "btn btn-primary pull-right" %>
      <% end %>
    </h4>

    <table class="table table-hover table-striped data-table no-paging">
      <thead>
        <tr>
          <% if current_user.can_view_and_edit_items? %>
            <th class="col-xs-4">Description</th>
            <th class="text-center">In Stock</th>
            <th class="text-center">Requested</th>
            <th class="text-center">SKU</th>
            <th class="text-center">value</th>
            <th class="text-center">Actions</th>
          <% else %>
            <th class="col-xs-4">Description</th>
            <th class="text-center">Quantity Available</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr data-toggle="tooltip" data-placement="left" title="<%= item.category.description %>">
            <% if current_user.can_view_and_edit_items? %>
              <td class="col-xs-4">
                <span class="hidden"><%= item.category.description %></span>
                <%= item.description %>
              </td>
              <td class="text-center"><%= item.current_quantity %></td>
              <td class="text-center"><%= item.requested_quantity %></td>
              <td class="text-center"><%= item.sku %></td>
              <td class="text-center"><%= number_to_currency(item.value, precision: 2) %></td>
              <td class="text-center">
                <%= link_to '', edit_item_path(item.id), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil', title: 'Edit Item' %>
                <%= link_to '', edit_stock_item_path(item.id), class: 'btn btn-default btn-xs glyphicon glyphicon-th-list', title: 'Edit Current Quantity' %>
              </td>
            <% else %>
              <td class="col-xs-4 <%= "text-muted" if item.available_quantity.zero? %>"><%= item.description %></td>
              <td class="text-center <%= "text-muted" if item.available_quantity.zero? %>"><%= item.available_quantity %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
