<% content_for :title, "Integrations" %>

<% content_for :content do %>
  <div class="row">
    <div class="col-xs-12">
      <h2>NetSuite</h2>

      <div class="row">
        <div class="col-xs-12">
          <h4>Total Inventory Value</h4>
          <p><%= number_to_currency(@total_inventory_value, precision: 2) %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h4>Exports</h4>
          <%= form_tag net_suite_export_reports_path, method: :get, class: "form-group" do %>
            <div class="row">
              <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                <%= label_tag :report_type, "Report Type", class: "control-label" %>
                <%= select_tag :report_type, options_for_select(net_suite_export_select_options), class: "form-control" %>
              </div>

              <div class="form-group col-xs-6 col-sm-3 col-lg-2">
                <%= label_tag :report_start_date, "Start Date", class: "control-label" %>
                <%= text_field_tag :report_start_date, params[:report_start_date], data: { provide: "datepicker" }, class: "form-control" %>
              </div>

              <div class="form-group col-xs-6 col-sm-3 col-lg-2">
                <%= label_tag :report_end_date, "End Date", class: "control-label" %>
                <%= text_field_tag :report_end_date, params[:report_end_date], data: { provide: "datepicker" }, class: "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-xs-3">
                <%= button_tag class: "btn btn-primary" do %>
                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download CSV
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
