<% content_for :title, "Integrations" %>

<% content_for :content do %>
  <div class="row">
    <div class="col-xs-12">
      <h2>NetSuite</h2>

      <div class="row">
        <div class="col-xs-12">
          <h4>Total Inventory Value</h4>
          <p><%= number_to_currency(@total_inventory_value, precision: 2) %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h4>Exports</h4>
            <div class="col-xs-12">
              <%= form_tag net_suite_export_reports_path, method: :get, data: { no_turbolink: true }, class: "form-inline" do %>
                <div class="form-group">
                  <%= label_tag :report_start_date, "Start Date", class: "control-label" %>
                  <%= text_field_tag :report_start_date, params[:report_start_date], data: { provide: "datepicker" } %>
                </div>

                <div class="form-group">
                  <%= label_tag :report_end_date, "End Date", class: "control-label" %>
                  <%= text_field_tag :report_end_date, params[:report_end_date], data: { provide: "datepicker" } %>
                </div>
                <%= submit_tag "NetSuite Donations Export", name: "donations", class: "btn btn-default" %>
                <%= submit_tag "NetSuite Donors Export", name: "donors", class: "btn btn-default" %>
                <%= submit_tag "NetSuite Orders Export", name: "orders", class: "btn btn-default" %>
                <%= submit_tag "NetSuite Organizations Export", name: "organizations", class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
