<% content_for :title, "Program Ratios" %>
<% content_for :tabs, render("items/tabs") %>

<% content_for :content do %>
  <% if current_user.can_edit_item_program_ratios? %>
    <h4 class="button-height">
      <%= link_to "Create Ratio", new_item_program_ratio_path, class: "btn btn-primary bottom15 pull-right" %>
    </h4>
  <% end %>

  <table class="table table-hover table-striped data-table">
    <thead>
      <tr>
        <th class="sort-asc">Name</th>

        <% @programs.each do |program| %>
          <th class="col-xs-1">
            <span title="<%= program.name %>" data-toggle="tooltip">
              <%= program.initialized_name %>
            </span>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @ratios.each do |ratio| %>
        <tr data-href="<%= edit_item_program_ratio_path(ratio) %>">
          <td><%= ratio.name %></td>

          <% @programs.each do |program| %>
            <th><%= format "%g", ratio.program_percentage(program) %>%</th>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
