<% content_for :title, "Edit Order #{@organization.name}" %>

<% content_for :content_size, "col-xs-6" %>

<% content_for :content do %>
  <%= form_for @organization do |f| %>
    <div>
      <div class="form-group">
        <label for="organization[name]">Name</label>
        <div>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="organization[email]">Email</label>
        <div>
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="organization[phone_number]"><%= t :organization_phone %></label>
        <div>
          <%= f.telephone_field :phone_number, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="organization[address]">Mailing Address</label>
        <div>
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
      <% if current_user.super_admin? %>
        <div class="form-group">
          <label class="control-label" for="organization[county]">County</label>
          <div>
            <%= f.text_field :county, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <input type="submit" class="btn btn-primary" value="Save" />
      <%= link_to "Cancel", :back, type: "button", class: "btn btn-default" %>
      <%= link_to "Delete", { action: :destroy, id: @organization.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" %>
    </div>
  <% end %>
<% end %>
