<% content_for :title, "Edit #{@organization.name}" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <%= form_for @organization do |f| %>
    <div>
      <div class="form-group">
        <label for="organization[name]">Name</label>
        <div>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="organization[email]">Email</label>
        <div>
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="organization[phone_number]"><%= t :organization_phone %></label>
        <div>
          <%= f.telephone_field :phone_number, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="organization[address]">Mailing Address</label>
        <div>
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
      <% if current_user.super_admin? %>
        <div class="form-group">
          <label class="control-label" for="organization[county]">County</label>
          <div>
            <%= f.text_field :county, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <input type="submit" class="btn btn-primary" value="Save" />
      <%= link_to "Cancel", cancel_edit_organization_path, type: "button", class: "btn btn-default" %>
      <%= link_to "Delete", organization_path(@organization), method: :delete, class: "btn btn-danger pull-right", data: { confirm: "Are you sure?", "confirm-fade": true, "confirm-title": "Deleting Organization: #{@organization.name}" } %>
    </div>
  <% end %>
<% end %>
