<% content_for :title, "Edit #{@organization.name}" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <%= form_for @organization, data: { guarded: true } do |f| %>
    <fieldset id="organization_info">
      <% if current_user.can_update_organization_external_and_admin_details? %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", data: { guard: "required" } %>
        </div>

        <div class="form-group">
          <%= f.label :organization_county_id, "County" %>
          <%= f.select :organization_county_id, options_for_select(County.for_organizations.select_options, @organization.organization_county_id), { include_blank: true }, { class: "form-control select2", data: { guard: "required", guard_required_target: "#county-error-target" } } %>

          <div id="county-error-target"></div>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", data: { guard: "required email" } %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, t(:organization_phone) %>
        <%= f.telephone_field :phone_number, class: "form-control", data: { guard: "required phoneUS" } %>
      </div>

      <% if current_user.can_update_organization_external_and_admin_details? %>
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <div class="form-group">
              <%= f.label :external_type %>
              <%= f.select :external_type, options_for_select(external_types_for_select, @organization.external_type), { include_blank: true }, { id: "external-type", class: "required", data: { guard_required_target: "#external-type-error-target" } } %>

              <div id="external-type-error-target"></div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <%= render partial: "common/external_id_field", locals: { fields: f, record: @organization } %>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <%= f.label :program_ids, "Programs" %>
              <%= f.select :program_ids,
                           options_for_select(Program.alphabetical.pluck(:name, :id), @organization.program_ids),
                           {},
                           { multiple: true, class: "program form-control", data: { guard: "required", guard_required_target: "#programs-error-target" } } %>

              <div id="programs-error-target"></div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label "Programs" %>
              <%= f.select :program_ids,
                           options_for_select(Program.alphabetical.pluck(:name, :id), @organization.program_ids),
                           {},
                           { multiple: true, class: "program form-control", disabled: true } %>
              <span class="help-block"><em>Please contact us to enroll in new programs.</em></span>
            </div>
          </div>
        </div>
      <% end %>

      <%= f.fields_for :addresses do |address| %>
        <% if address.object.all_parts_present? %>
          <div class="row">
            <div class="col-xs-12">
              <h4>Mailing Address</h4>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <%= address.label :street_address, "Street Address" %>
                    <%= address.text_field :street_address, class: "form-control", placeholder: "Example: 123 Street Address", data: { guard: "allOrNone", guard_all_or_none_group: "allornone-existing-#{address.object.id}", guard_all_or_none_target: "#address-error-existing-#{address.object.id}" } %>
                    <span class="help-block" id="address-error-existing-<%= address.object.id %>"></span>

                    <div class="checkbox">
                      <label>
                        <%= address.check_box :_destroy %> Delete
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <%= address.label :city, "City" %>
                    <%= address.text_field :city, class: "form-control", placeholder: "Example: Some City", data: { guard: "allOrNone", guard_all_or_none_group: "allornone-existing-#{address.object.id}", guard_all_or_none_target: "#address-error-existing-#{address.object.id}" } %>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <%= address.label :state, "State" %>
                    <%= address.text_field :state, class: "form-control", placeholder: "Example: CA", data: { guard: "allOrNone", guard_all_or_none_group: "allornone-existing-#{address.object.id}", guard_all_or_none_target: "#address-error-existing-#{address.object.id}" } %>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <%= address.label :zip, "Zip" %>
                    <%= address.text_field :zip, class: "form-control", placeholder: "Example: 95123", data: { guard: "allOrNone", guard_all_or_none_group: "allornone-existing-#{address.object.id}", guard_all_or_none_target: "#address-error-existing-#{address.object.id}" } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="form-group">
            <%= address.label :address, "Mailing Address" %>
            <%= address.text_field :address, class: "form-control", data: { guard: "different" } %>

            <div class="checkbox">
              <label>
                <%= address.check_box :_destroy %> Delete
              </label>
            </div>
          </div>
        <% end %>
      <% end %>
    </fieldset>

    <%= render partial: "organizations/new_address" %>
    <input type="submit" class="btn btn-primary" value="Save" />
    <%= link_to "Cancel", cancel_edit_organization_path, type: "button", class: "btn btn-default" %>

    <% if current_user.can_delete_and_restore_organizations? %>
      <%= link_to "Delete", organization_path(@organization), method: :delete, class: "btn btn-danger pull-right", data: confirm(title: "Deleting Organization: #{@organization.name}") %>
    <% end %>
  <% end %>
<% end %>
