<%= render partial: "organization_modal", locals: { organization: Organization.new, path: organizations_path, method: :post } %>

<% if current_user.can_create_organization? %>
  <div class="row">
    <div class="col-xs-6">
      <h4>Organizations</h4>
    </div>

  </div>
<% end %>

<div class="well">
  <div class="row input-row">
    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" />
      </div>
    </div>
    <div class="col-xs-6">
      <div class="pull-right">
        <button  data-toggle="modal" data-target="#modal" class="btn btn-primary">Add Organization</button>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mailing Address</th>
        <th>County</th>
        <th>Phone Number</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.organizations_with_admin_access.each do |organization| %>
        <tr data-href="<%= edit_organization_path(organization) %>">
          <td><%= organization.name %></td>
          <td><%= organization.address %></td>
          <td><%= organization.county %></td>
          <td><%= organization.phone_number %></td>
          <td><%= organization.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% current_user.organizations_with_admin_access.each do |organization| %>
  <%= render partial: "organization_modal", locals: { organization: organization, path: organization_path(organization), method: :put } %>
<% end %>
