<% if current_user.can_create_organization? %>
  <%= render partial: "organization_modal", locals: { organization: Organization.new, path: organizations_path, method: :post } %>
<% end %>

<div class="row">
  <div class="col-xs-6">
    <h4>Organizations</h4>
  </div>

</div>

<div class="well">
  <div class="row">
    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" />
      </div>
    </div>
    <div class="col-xs-6">
      <div class="pull-right">
        <% if current_user.can_create_organization? %>
          <button  data-toggle="modal" data-target="#modal" class="btn btn-primary">Add Organization</button>
        <% end %>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mailing Address</th>
        <th>County</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.organizations_with_permission_enabled(:can_update_organization_at?).each do |organization| %>
        <tr>
          <td><%= organization.name %></td>
          <td><%= organization.address %></td>
          <td><%= organization.county %></td>
          <td><%= organization.phone_number %></td>
          <td><%= organization.email %></td>
          <td>
            <a href="<%= edit_organization_path(organization) %>" class="btn btn-default btn-xs glyphicon glyphicon-pencil pull-right"></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
