<% content_for :title, "New Organization" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <%= javascript_tag do %>
    initializeExternalTypeSelector();
  <% end %>

  <%= form_for @organization, data: { live_guarded: true } do |f| %>
    <fieldset id="organization_info">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", data: guarded_field(@organization, :name, "required") %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", data: { guard: "required email" } %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, t(:organization_phone) %>
        <%= f.telephone_field :phone_number, class: "form-control", data: { guard: "required phoneUS" } %>
      </div>

      <div class="form-group">
        <%= f.label :external_type %>
        <%= f.select :external_type, options_for_select(external_types_for_select, "Organization"), { include_blank: true }, { id: "external-type", class: "required", data: { guard_required_target: "#external-type-error-target" } } %>

        <div id="external-type-error-target"></div>
      </div>

      <div class="form-group">
        <%= f.label "Programs" %>
        <%= f.select :program_ids,
                     options_for_select(Program.alphabetical.pluck(:name, :id), @organization.program_ids),
                     {},
                     { multiple: true, class: "program form-control", data: { guard: "required", guard_required_target: "#programs-error-target" } } %>

        <div id="programs-error-target"></div>
      </div>

      <div class="form-group">
        <label for="organization_addresses_attributes_0_address">Mailing Address</label>

        <div>
          <input class="form-control" data-guard="different required" type="text" value="" name="organization[addresses_attributes][0][address]" id="organization_addresses_attributes_0_address">
        </div>
      </div>
    </fieldset>

    <%= render partial: "organizations/new_address" %>
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", organizations_path, type: "button", class: "btn btn-default" %>
  <% end %>
<% end %>
