<% content_for :title, "New Organization" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <%= javascript_tag do %>
    initializeExternalTypeSelector();

    function onExternalIdChange() {
      var value = $(this).val();
      $("#save_and_export").prop("disabled", value != "");
    }

    $(document).on("change", "#organization_external_id", onExternalIdChange);
    $(document).on("keyup", "#organization_external_id", onExternalIdChange);

    <% if params[:show_tab] == "netsuite-import" || @show_tab == "netsuite-import" %>
      $(function() {
        $("#manual-creation-tab, #manual-creation").removeClass("active");
        $("#netsuite-import-tab, #netsuite-import").addClass("active");
      })
    <% end %>
  <% end %>

  <div>
    <ul class="nav nav-pills" role="tablist">
      <li id="manual-creation-tab" role="presentation" class="active"><a href="#manual-creation" aria-controls="manual-creation" role="tab" data-toggle="pill">Create</a></li>
      <li id="netsuite-import-tab" role="presentation"><a href="#netsuite-import" aria-controls="netsuite-import" role="tab" data-toggle="pill">Import From NetSuite</a></li>
    </ul>

    <br />

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="manual-creation">
        <%= form_for @organization, data: { live_guarded: true } do |f| %>
          <fieldset id="organization_info">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control", data: guarded_field(@organization, :name, "required") %>
            </div>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: "form-control", data: { guard: "required email" } %>
            </div>

            <div class="form-group">
              <%= f.label :phone_number, t(:organization_phone) %>
              <%= f.telephone_field :phone_number, class: "form-control", data: { guard: "required phoneUS" } %>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-9">
                <div class="form-group">
                  <%= f.label :external_type %>
                  <%= f.select :external_type, options_for_select(external_types_for_select, "Organization"), { include_blank: true }, { id: "external-type", class: "required", data: { guard_required_target: "#external-type-error-target" } } %>

                  <div id="external-type-error-target"></div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                  <%= f.label "External Id" %>
                  <%= f.number_field :external_id, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="organization_addresses_attributes_0_address">Mailing Address</label>

              <div>
                <input class="form-control" data-guard="different required" type="text" value="" name="organization[addresses_attributes][0][address]" id="organization_addresses_attributes_0_address">
              </div>

              <span class="help-block">
                Please use the form:
                <strong><em>123 Street Address, Some City, CA 95123</em></strong>
                or the address will not be synced to NetSuite
              </span>
            </div>
          </fieldset>

          <%= render partial: "organizations/new_address" %>
          <%= f.submit "Save", class: "btn btn-primary" %>
          <%= f.button "Save and Export to NetSuite", id: "save_and_export", class: "btn btn-primary", type: "submit", name: "save_and_export_organization", value: "true", data: { disable_with: "Save and Export to NetSuite" } %>
          <%= link_to "Cancel", organizations_path, type: "button", class: "btn btn-default" %>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="netsuite-import">
        <%= form_tag netsuite_import_organizations_path, data: { live_guarded: true } do %>
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label for="import_from_external_id">External Id</label>
                <input type="number" class="form-control" id="import_from_external_id" name="external_id" data-guard="required" value="<%= @organization.external_id %>" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <input type="submit" class="btn btn-primary" value="Save" />
              <%= link_to "Cancel", organizations_path, class: "btn btn-default" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
