<% content_for :title, "New Organization" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <%= form_for @organization, data: { live_guarded: true } do |f| %>
    <div>
      <div class="form-group">
        <%= f.label :name %>
        <div>
          <%= f.text_field :name, class: "form-control", data: { guard: "required" } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <div>
          <%= f.text_field :email, class: "form-control", data: { guard: "required email" } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, t(:organization_phone) %>
        <div>
          <%= f.telephone_field :phone_number, class: "form-control", data: { guard: "required phoneUS" } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address, "Mailing Address" %>
        <div>
          <%= f.text_field :address, class: "form-control", data: { guard: "required" } %>
        </div>
      </div>
    </div>

    <div>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to "Cancel", organizations_path, type: "button", class: "btn btn-default" %>
    </div>
  <% end %>
<% end %>
