<% content_for :title, "New Organization" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <%= form_for @organization, data: { live_guarded: true } do |f| %>
    <div id="organization_info">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", data: guarded_field(@organization, :name, "required") %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", data: { guard: "required email" } %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, t(:organization_phone) %>
        <%= f.telephone_field :phone_number, class: "form-control", data: { guard: "required phoneUS" } %>
      </div>

      <div class="form-group">
        <label for="organization_addresses_attributes_0_address">Mailing Address</label>

        <div>
          <input class="form-control" data-guard="different required" type="text" value="" name="organization[addresses_attributes][0][address]" id="organization_addresses_attributes_0_address">
        </div>
      </div>

      <input type="hidden" value="" name="organization[addresses_attributes][0][id]" id="organization_addresses_attributes_0_id">
    </div>

    <div class="form-group">
      <button id="add-new-address" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Mailing Address
      </button>
    </div>

    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", organizations_path, type: "button", class: "btn btn-default" %>
  <% end %>
<% end %>
