<% content_for :title, "Inventory" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :sidebar do %>
  <%= render "common/category_nav" %>
<% end %>

<% content_for :content do %>
  <h4><%= controller.action_name.humanize %> Category</h4>
  <%= form_for @category do |f| %>
    <div class="form-group">
      <%= f.label 'Description:' %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", items_path(category_id: @category.id), type: "button", class: "btn btn-default" %>

    <% if @category.persisted? %>
      <%= link_to "Delete", category_path(@category), method: :delete, class: "btn btn-danger pull-right", data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
<% end %>
