<div class="row">
  <div class="col-xs-12">
    <p>
      <strong>Total Changed Value: <%= number_to_currency @reconciliation.deltas.total_value_changed %></strong>
    </p>

    <table class="table table-hover table-striped data-table no-paging">
      <thead>
        <tr>
          <th>Item</th>
          <th>Original Stock</th>
          <th>Final Count</th>
          <th>Changed Amount</th>
          <th>Total Changed Value</th>
        </tr>
      </thead>

      <tbody>
        <% @reconciliation.deltas.each do |delta| %>
          <tr>
            <td class="<%= delta.description_css_class %>"><%= delta.item.category.description %> - <%= delta.item.description %></td>
            <td><%= delta.current_quantity %></td>
            <td><%= delta.final_count %></td>

            <td class="<%= delta.changed_amount_css_class %>">
              <%= changed_amount_icon(delta) %>
              <%= delta.changed_amount %>
            </td>

            <td class="<%= delta.changed_amount_css_class %>">
              <%= number_to_currency delta.total_value_changed %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
