<% Bin.for_print_prep.each do |bin| %>
  <div style="height: 30vh; overflow: hidden;">
    <div class="text-center">
      <span style="font-size: 6em;"><%= bin.label %></span>
      <span style="position: absolute; right: 2em; font-size: 1em;"><%= bin.bin_location.display %></span>
    </div>
    <hr style="border-top-width: 1em; border-top-color: #333; margin-bottom: 0; margin-top: 0;" />
    <div style="height: 100%; width: 50%; border-right: #333 1em solid;"></div>
  </div>

  <div style="height: 1vh;"></div>

  <div class="avoid-page-break" style="height: 66vh; page-break-after: always;">
    <h1 class="text-center"><%= bin.label %></h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 35%;">Item Name</th>
          <th style="width: 15%;">Quantity</th>
          <th style="width: 35%;">Item Name</th>
          <th style="width: 15%;">Quantity</th>
        </tr>
      </thead>

      <tbody>
        <% bin.items.each do |item| %>
          <tr>
            <td><%= item.description %></td>
            <td></td>
            <td><%= item.description %></td>
            <td></td>
          </tr>
        <% end %>

        <% 2.times do %>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
