<% content_for :body_class, "print-prep" %>

<div id="print-options">
  <div class="row">
    <div class="col-xs-10">
      <br />

      <ul class="nav nav-pills">
        <%= tab("Prep", print_prep_inventory_reconciliations_path, params[:type].blank?) %>
        <%= tab("Blank Quantity", print_prep_inventory_reconciliations_path(type: "quantity"), params[:type] == "quantity") %>
        <%= tab("Blank T-Bars", print_prep_inventory_reconciliations_path(type: "t-bars"), params[:type] == "t-bars") %>
        <%= tab("Blank T-Bars + Quantity", print_prep_inventory_reconciliations_path(type: "quantity_and_t-bars"), params[:type] == "quantity_and_t-bars") %>
      </ul>
    </div>

    <div class="col-xs-2">
      <br />

      <div class="pull-right">
        <%= link_to "back", inventory_reconciliations_path, class: "btn btn-default" %>
        <button type="button" onClick="window.print()" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i></button>
      </div>
    </div>
  </div>

  <br />
</div>

<% case params[:type] %>
<% when nil %>
  <% Bin.for_print_prep.each do |bin| %>
    <%= render partial: "t_bar", locals: { label: bin.label, location: bin.bin_location.display } %>
    <div class="divider"></div>
    <%= render partial: "quantity_sheet", locals: { label: bin.label, location: bin.bin_location.display, rows: bin.items + Array.new(2) } %>
  <% end %>
<% when "quantity" %>
  <div class="blank-sheet">
    <%= render partial: "quantity_sheet", locals: { label: nil, location: nil, rows: Array.new(100) } %>
  </div>
<% when "t-bars" %>
  <div class="blank-sheet">
    <% 3.times do %>
      <%= render partial: "t_bar", locals: { label: "&nbsp;".html_safe, location: "" } %>
      <div class="divider"></div>
    <% end %>
  </div>
<% when "quantity_and_t-bars" %>
  <div class="blank-sheet">
    <%= render partial: "t_bar", locals: { label: "&nbsp;".html_safe, location: "" } %>
    <div class="divider"></div>
    <%= render partial: "quantity_sheet", locals: { label: nil, location: nil, rows: Array.new(100) } %>
  </div>
<% end %>
