<% content_for :title, "Inventory Reconciliations" %>

<% content_for :sidebar do %>
  <%= render "common/category_nav", only_categories: true, path: inventory_reconciliation_path(@reconciliation) %>
<% end %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :content do %>
  <%= javascript_tag do %>
    var reconcileUrl = <%= reconcile_inventory_reconciliation_path(@reconciliation).to_json.html_safe %>;
  <% end %>

  <h3 class="button-height">
    <%= @reconciliation.full_title %>

    <% if @current_user.can_edit_inventory_reconciliation?(@reconciliation) %>
      <%= link_to "Completed", complete_inventory_reconciliation_path(@reconciliation), method: :post, class: "btn btn-danger pull-right", data: confirm(title: "Completing Inventory Reconciliation ##{@reconciliation.id}") %>
    <% end %>
  </h3>

  <div class="panel-group" id="accordion" role="tablist">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#notes" style="cursor: pointer;">
          Notes
        </h4>
      </div>
      <div id="notes" class="panel-collapse collapse <%= "in" unless @category %>" role="tabpanel">
        <div class="panel-body">
          <% if @reconciliation.reconciliation_notes.to_a.empty? %>
            <p>
              <em>There are no notes yet.</em>
            </p>
          <% else %>
            <% @reconciliation.reconciliation_notes.each do |note| %>
              <p>
                <%= simple_format note.content, {}, wrapper_tag: "span" %>
                <br />
                <small><em><%= note.user.name %> - <%= local_time_ago note.created_at %></em></small>
              </p>
            <% end %>
          <% end %>

          <% unless @reconciliation.complete %>
            <%= form_tag comment_inventory_reconciliation_path(@reconciliation), method: :post, data: { guarded: true } do %>
              <% if @category %>
                <input type="hidden" name="category_id" value="<%= @category.id %>" />
              <% end %>

              <div class="input-group">
                <input type="text" class="form-control" placeholder="Note content" name="content" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">save</button>
                </span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @reconciliation.items(params).empty? %>
    <p class="text-danger">
      There are no items to show<%= " for this category" if @category %>!
    </p>
  <% else %>
    <h4>
      <% if @category.present? %>
        <%= @category.description %>
      <% else %>
        All Items
      <% end %>
    </h4>

    <table class="table table-hover table-striped data-table no-paging">
      <thead>
        <tr>
          <th class="col-xs-4">Description</th>
          <th class="text-center">In Stock</th>
          <th class="text-center">Requested</th>
          <% if current_user.can_edit_inventory_reconciliation?(@reconciliation) %>
            <th class="text-center">New Stock</th>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @reconciliation.items(params).each do |item| %>
          <% next if !@reconciliation.reconciled?(item) && @reconciliation.complete %>

          <tr class="<%= "success" if @reconciliation.reconciled?(item) %>" data-toggle="tooltip" data-placement="left" title="<%= item.category.description %>">
            <td class="col-xs-4">
              <span class="hidden"><%= item.category.description %></span>
              <%= item.description %>
            </td>
            <td class="text-center"><%= item.current_quantity %></td>
            <td class="text-center"><%= item.requested_quantity %></td>
            <% if current_user.can_edit_inventory_reconciliation?(@reconciliation) %>
              <td class="text-center">
                <div class="form-group">
                  <input type="text" class="form-control input-sm reconcile-amount" value="<%= item.current_quantity %>" placeholder="Enter the amount" data-guard="required int" data-guard-int-min="0" />
                </div>
              </td>
              <td><button type="button" class="btn btn-default btn-sm reconcile-quantity <%= "btn-success" if @reconciliation.reconciled?(item) %>" title="Save Quantity" data-item-id="<%= item.id %>"><i class="glyphicon glyphicon-ok"></i></button></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
