<table <%= 'style="display: none;"'.html_safe if local_assigns[:hidden] %> class="table table-hover" id="shipments-table">
  <thead>
    <tr>
      <th>Tracking Number</th>
      <th>Carrier</th>
      <th>Delivery Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% shipments.each do |shipment| %>
      <tr>
        <td>
          <%= link_to shipment.tracking_number, shipment.tracking_url, { target: "_blank" } %>
        </td>
        <td>
          <%= shipment.shipping_carrier %>
        </td>
        <td>
          <%= shipment.delivery_date %>
        </td>
        <td>
          <% if shipment.delivery_date.blank? %>
            <%= link_to shipment_path(shipment, status: 'delivered'), method: :patch, class: 'btn btn-success btn-xs' do %>
              <i class="glyphicon glyphicon-check"></i> Mark Delivered
            <% end %>
          <% end %>

          <%= link_to shipment_path(shipment), method: :delete, class: "btn btn-danger btn-xs", data: confirm(title: "Deleting Tracking Number: #{shipment.tracking_number}") do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
