<% if user_signed_in? %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <%= tab("Orders", orders_path, active == "orders") %>

        <% if current_user.can_view_or_edit_items? %>
          <%= tab("Inventory", items_path, active == "inventory") %>
        <% end %>

        <% if current_user.can_create_organization? || current_user.can_update_organization? %>
          <%= tab("Organizations", organizations_path, active == "organizations") %>
        <% end %>

        <% if current_user.can_invite_user? || current_user.can_update_user? %>
          <%= tab("Users", users_path, active == "users") %>
        <% end %>

        <% if current_user.can_view_reports? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Value By County", reports_path(report: :value_by_county) %></li>
              <li><%= link_to "Total Inventory Value", reports_path(report: :total_inventory_value) %></li>
              <% if current_user.can_export? %>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Export Master Inventory", exports_path %></li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <li class="visible-xs"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.can_backup? %>
              <li><%= link_to "Download Backup", backup_path %></li>
              <li role="separator" class="divider"></li>
            <% end %>

            <li><%= link_to "Edit User", edit_user_path(current_user) %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
<% end %>
