<div class="row">
  <div id="password-requirements" class="form-group help-block col-sm-6 col-sm-push-6">
    Password must contain:<br/>
    At least one uppercase letter<br/>
    At least one lowercase letter<br/>
    At least one number<br/>
    Be between 8 and 72 characters<br/>
  </div>

  <div class="col-sm-6 col-sm-pull-6">
    <% if updating %>
      <div class="form-group">
        <%= label :user, :current_password, "Current Password", class: "control-label" %>
        <%= password_field :user, :current_password, class: "form-control input-md", placeholder: "Required if changing your password", data: guarded_field(user, :current_password, "") %>
      </div>
    <% end %>

    <div class="form-group">
      <%= label :user, :password, "#{"New" if updating} Password", class: "control-label" %>
      <%= password_field :user, :password, class: "form-control input-md", placeholder: ("Leave blank to not change" unless !updating), data: { guard: "#{"required" if !updating} same passwordComplexity" } %>
    </div>

    <div class="form-group">
      <%= label :user, :password_confirmation, "#{"New" if updating} Password Confirmation", class: "control-label" %>
      <%= password_field :user, :password_confirmation, class: "form-control input-md", placeholder: ("Leave blank to not change" unless !updating), data: { guard: "#{"required" if !updating} same passwordComplexity" } %>
    </div>
  </div>
</div>
