<div class="row">
  <div class="col-xs-12">
    <%= form_tag total_inventory_value_reports_path, method: "get", class: "form-inline pull-right" do %>
      <div class="form-group form-group-sm">
        <%= label_tag :date, "Date", class: "control-label" %>
        <%= text_field_tag :date, params[:date], class: "form-control", data: { provide: "datepicker" } %>
      </div>

      <%= hidden_field_tag :category_id, request.params[:category_id] %>
      <%= submit_tag "Filter", class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<br />
