<% content_for :title, "Reports" %>

<% content_for :content_size, "col-sm-9" %>

<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked">
    <%= tab("All Graphs", graphs_reports_path, params[:by_day].blank? && params[:by_month].blank?) %>
    <%= tab("Orders by Day", graphs_reports_path(by_day: true), params[:by_day] == "true") %>
    <%= tab("Orders by Month", graphs_reports_path(by_month: true), params[:by_month] == "true") %>
  </ul>
<% end %>

<% content_for :content do %>
  <div class="tab-content">
    <% if params[:by_day] == "true" %>
      <%= render partial: "reports/orders_by_date", locals: { report_by_date: @report_by_date } %>
    <% elsif params[:by_month] == "true" %>
      <%= render partial: "reports/orders_by_month", locals: { report_by_month: @report_by_month } %>
    <% else %>
      <%= render partial: "reports/orders_by_date", locals: { report_by_date: @report_by_date } %>
      <hr/>
      <%= render partial: "reports/orders_by_month", locals: { report_by_month: @report_by_month } %>
    <% end %>
  </div>
<% end %>
