<% content_for :title, "Reports" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked">
    <%= tab("All Categories", total_inventory_value_reports_path, params[:category_id].blank?) %>
    <% Category.all.each do |category| %>
      <%= tab(category.description, total_inventory_value_reports_path(category_id: category.id, date: params[:date]), params[:category_id].present? && category.id == params[:category_id].to_i) %>
    <% end %>
  </ul>
<% end %>

<% content_for :content do %>

  <%= form_tag(total_inventory_value_reports_path, method: "get") do %>
    <%= label_tag(:date, "Date") %>
    <%= text_field_tag(:date, params[:date], {:'data-provide' => 'datepicker'}) %>
    <%= hidden_field_tag :category_id, request.params[:category_id]  %>
    <%= submit_tag("Search") %>
  <% end %>

  <div class="tab-content">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-xs-4">Description</th>
          <th class="text-center">value</th>
        </tr>
      </thead>

      <tbody>
        <% @report.each do |description, value| %>
          <tr>
            <td class="col-xs-4"><%= description %></td>
            <td class="text-center"><%= number_to_currency(value, precision: 2) %></td>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th class="col-xs-4">Total</th>
          <th class="text-center"><%= number_to_currency(@report.total_value, precision: 2) %></th>
        </tr>
      </tfoot>
    </table>
  </div>
<% end %>
