<% content_for :title, "Reports" %>

<% content_for :content_size, "col-sm-9 col-md-10" %>

<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked" role="tablist">
    <%= tab("All Counties", value_by_county_reports_path, params[:county].blank?) %>
    <% Reports::ValueByCounty.counties.each do |county| %>
      <%= tab(county, value_by_county_reports_path(county: county), county == params[:county]) %>
    <% end %>
  </ul>
<% end %>

<% content_for :content do %>
  <div class="tab-content">
    <table class="table table-striped table-responsive data-table sort-asc">
      <thead>
        <tr>
          <th><%= @report.description_label %></th>
          <th class="text-center">Number of Items</th>
          <th class="text-center">Value of Orders</th>
        </tr>
      </thead>

      <tbody>
        <% @report.each do |description, item_count, value| %>
          <tr>
            <td><%= description %></td>
            <td class="text-center"><%= item_count %></td>
            <td class="text-center"><%= number_to_currency value, precision: 2 %></td>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th>Total</th>
          <th class="text-center"><%= @report.total_item_count %></th>
          <th class="text-center"><%= number_to_currency @report.total_value, precision: 2 %></th>
        </tr>
      </tfoot>
    </table>
  </div>
<% end %>
