<% content_for :title, "NetSuite Errors" %>

<% content_for :content do %>
  <table class="table table-striped table-responsive data-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Export Type</th>
        <th>Record ID</th>
        <th>Date of Error</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @errors.each do |error| %>
        <tr data-href="<%= net_suite_error_path(error) %>">
          <td><%= error.id %></td>
          <td><%= error.export_type %></td>
          <td><%= error.record_id %></td>
          <td><%= local_time error.created_at %></td>

          <td>
            <%= link_to "", net_suite_error_path(error), method: :delete,
                class: "btn btn-danger btn-xs glyphicon glyphicon-trash pull-right",
                data: confirm(title: "Deleting NetSuite Error: #{error.id}") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
