<!DOCTYPE html>
<html>
<head>
  <title>StockAid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 well">
        <% if user_signed_in? %>
          <div class="row pull-right">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <strong><%= current_user.email %></strong>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <a href="" data-target="#edit_user_modal" data-toggle="modal">Edit User</a>
                </li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: "common/flash" %>
    <%= render partial: "common/edit_user_modal" %>
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
