<!DOCTYPE html>
<html>
<head>
  <title>StockAid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
          <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% end %>
      </div>
    </div>

    <% if notice || alert %>
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-info" role="alert"><%= notice %></div>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
