<!DOCTYPE html>
<html>
<head>
  <title>StockAid</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">      
      <% if user_signed_in? %>
        <div class="col-xs-12 well">
          <div class="row pull-right">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <strong><%= current_user.email %></strong>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="<%= edit_user_path(current_user) %>">Edit User</a></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <%= render partial: "common/flash" %>

    <div class="row">
      <div class="body">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
