<!DOCTYPE html>
<html>
<head>
  <title>StockAid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "common/navbar", locals: { active: @active_tab } %>
      </div>
    </div>

    <%= render partial: "common/flash" %>

    <div class="row">
      <div class="col-xs-12">
        <% if content_for(:title).present? %>
          <h4><%= content_for(:title) %></h4>
        <% end %>

        <%= content_for(:before_content) %>

        <% if content_for(:content).present? && content_for(:content_size).present? %>
          <div class="row">
            <div class="<%= content_for(:content_size) %>">
              <%= render partial: "common/contents" %>
            </div>
          </div>
        <% elsif content_for(:content).present? && content_for(:sidebar).present? %>
          <div class="row">
            <div class="col-md-2 col-sm-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
              <%= content_for(:sidebar) %>
            </div>

            <div class="col-md-10">
              <%= render partial: "common/contents" %>
            </div>
          </div>
        <% elsif content_for(:content).present? %>
          <%= render partial: "common/contents" %>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
