<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.config.site_name %><%= " - #{content_for(:title)}" if content_for(:title).present? %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: "common/google_analytics" %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "common/navbar", locals: { active: @active_tab } %>
      </div>
    </div>

    <% if !user_signed_in? %>
      <div class="row top15">
        <div class="col-xs-12 top15 bottom15">
          <img class="img-responsive center-block" src="<%= path_to_image("header-logo.png") %>" />
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "common/flash" %>
        <%= content_for(:messages) %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <% if content_for(:tabs).present? %>
          <%= content_for(:tabs) %>
          <br />
        <% elsif content_for(:title).present? %>
          <h4 class="hidden-print"><%= content_for(:title) %></h4>
        <% end %>

        <%= content_for(:before_content) %>

        <% if content_for(:content).present? || content_for(:sidebar).present? %>
          <div class="row">
            <% if content_for(:sidebar).present? %>
              <div class="col-md-2 col-sm-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
                <%= content_for(:sidebar) %>
              </div>
            <% end %>

            <div class="<%= content_for(:content_size).present? ? content_for(:content_size) : 'col-xs-12' %>">
              <%= render partial: "common/contents" %>
            </div>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
