<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.application.config.site_name %><%= " - #{content_for(:title)}" if content_for(:title).present? %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render partial: "common/google_analytics" %>
  </head>
  <body class="<%= content_for :body_class %>">
    <%= yield %>
  </body>
</html>
