<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>
      <img src="http://gratefulgarment.org/wp-content/themes/FoundationPress-master/assets/img/header-logo.png">
    </p>

    <p>
      <%= Time.zone.now.strftime("%m/%d/%Y") %>
    </p>

    <%= yield %>

    <p>
      If you have any questions or concerns, please contact us at <%= Rails.application.config.contact_phone_formatted %> or email <a href="mailto:<%= Rails.application.config.personal_contact_email %>"><%= Rails.application.config.personal_contact_email %></a>.
    </p>

    <p>
      Gratefully yours,<br />
      The Grateful Garment Project's Management and Board of Directors
    </p>
  </body>
</html>
